@charset "UTF-8";
tr {
	height: 30px;
	vertical-align: middle;
}
.top > th {
	font-size: 23px;
    padding: 15px 10px;
    text-align: center;
    background-color: #444;
    font-weight: normal;
}
tbody tr {
	cursor: pointer;
}
tbody tr:hover {
	background-color: rgba(0, 0, 0, 0.1);
}
tr td {
	padding: 25px 0px;
}
input {
	background-color: var(--main-back);
}
input:focus {
	border-bottom: 1px solid var(--main-color-2);
}
textarea {
	background-color: var(--main-back);
    resize: none;
}
textarea:focus {
	outline: none;	
}
.search {
	text-align: center;
	padding: 30px;
	margin-bottom: 20px;
}
.search select, .search input {
	background-color: var(--main-back);
}
.search form {
	display: inline-block;
	width: 500px;
}
.num {
	width: 60px;
}
.title {
	padding: 0px 20px;
	width: 580px;
	text-align: left;
}
.writer {
	width: 200px;
}
.date {
	width: 150px;	
}
.count {
	width: 80px;
}
.aeta-title > button {
	position: relative;
	border: 1px solid var(--main-color-1);
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	bottom: 50px;
	left: 1050px;
}
.aeta-title > button:hover {
	background-color: var(--main-color-2);
	border: 1px solid var(--main-color-2);
	color: var(--main-back);
}
.aeta-title {
	width: 1150px;
	height: 60px;
	margin: auto;
	padding: 60px 50px;
}
.aeta-title strong {
	font-size: 40px;
}
.aeta-title p {
	color: #666;
	font-size: 20px;
}
.aeta-pagination {
	text-align: center;
	margin: auto;
	width: 1250px;
    padding: 20px 0px;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}
.aeta-pagination span {
	cursor: pointer;
}
.aeta-photo {
	display: block;
	max-width: 800px;
	margin: auto;
}
.aeta-profile {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.selected {
	font-weight: bold;
	text-decoration: underline;
}
.search #inputValue {
	width: 410px;
	padding: 5px 10px 5px 10px;
}
.search #inputValue:focus {
	border-bottom: 1px solid var(--main-color-2);
}
.search #searchBtn {
	width: 50px;
	border: 1px solid var(--main-color-1);
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
}
.search #searchBtn:hover {
	background-color: var(--main-color-2);
	border: 1px solid var(--main-color-2);
	color: var(--main-back);
}
.search select {
	padding: 5px 0px 5px 0px;
}
.aeta-post-wrap {
	text-align: center;
}
.aeta-post-wrap label {
	display: inline-block;
	width: 80px;
	font-size: 20px;
}
.aeta-post-wrap > div, .aeta-post-wrap > form {
	width: 900px;
	margin: auto;
}
.aeta-post-wrap button {
	padding: 10px 60px 10px 60px;
	margin: 30px;
	font-size: 24px;
	border: 1px solid var(--main-color-1);
	border-radius: 10px;
	cursor: pointer;
}
.aeta-post-wrap button:hover {
	background-color: #282828;
}
.comment-date, .comment-delete {
	float: right;
}
.comment-delete {
	margin-right: 20px;
}
.aeta-comment {
	margin-top: 10px;
}
.input-comment-wrap {
	padding: 10px 0px 10px 0px;
}
#aeta-post-likes > span {
	float: right;
}
#aetaPost {
	text-align: center;
	padding: 30px;
	border-bottom: 1px solid #fff;
	margin-bottom: 30px;
}
#aetaboardList {
	margin: auto;
	text-align: center;
}
#aetaboardList > table {
	display: inline-block;
}
#inputImg {
	visibility: hidden;
	width: 0;
	height: 0;
}
#imagePreview {
	height: 250px;
	width: 800px;
	margin: auto;
	padding: 20px;
	overflow-y: auto;
	background-color: rgba(255,255,255,0.1);
	border-radius: 20px;
	text-align: center;
}
#imagePreview img {
	width: 200px;
	height: 200px;
	object-fit: contain;
	padding: 10px;
	margin: 10px;
	border: 1px solid var(--main-color-1);
	border-radius: 10px;
	transform: scale(1);
	transition: 0.2s linear all;
}
#imagePreview img:hover {
	transform: scale(0.9);
}
#inputTitle {
	width: 745px;
	margin-right: 40px;
	font-size: 20px;
}
#aetaPostImage {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: left;
}
#aetaPostImage label {
	margin-left: 40px;
	width: auto;
	cursor: pointer;
}
#aetaPostImage label img {
	width: 40px;
	height: 40px;
}
#imagePreviewExp {
	display: inline-block;
	width: 760px;
	text-align: right;
}
#aetaInputContentWrap {
	width: 800px;
	margin: auto;
}
#aetaInputContentWrap label {
	text-align: left;
	display: block;
}
#inputContent {
	width: 800px;
	height: 300px;
	font-size: 16px;
}
.overlay{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}
.aeta-post-detail {
	width: 1250px;
    margin: auto;
}
.host-head {
	padding: 5px 5px 40px 25px;
}
.host-title {
	font-size: 40px;
	padding: 10px 0px;
}
.host-info {
	display: flex;
	align-items: center;
	padding: 10px 0px;
}
.host-image {
	width: 30px;
	height: 30px;
	margin-right: 15px;
}
.host-id {
}
.host-create-date {
	display: inline-block;
}
.modal-button {
	position: relative;
    border: 1px solid var(--main-color-1);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    bottom: -170px;
    left: 1140px;
}
.modal-button:hover {
	background-color: var(--main-color-2);
	border: 1px solid var(--main-color-2);
	color: var(--main-back);
}
.non-report-button {
	height: 40px;
}
.post-photos {
	width: 1050px;
    margin: auto;
}
.post-photo {
	display: inline-block;
    max-width: 500px;
    margin: auto;
    padding: 20px 10px;
}
.post-content {
	padding: 10px;
	min-height: 300px;
	font-size: 20px;
}
.post-buttons {
	text-align: right;
}
.post-button {
	padding: 10px 5px;
	cursor: pointer;
}
.post-button:hover {
	color: var(--main-color-2);
}
.comment-title {
	font-size: 21px;
}
.comment-ment {
	font-weight: normal;
	color: #777;
}
.comment-list {
	margin: 10px 0px
}
.post-textarea {
	background-color: var(--main-back);
    resize: none;
    width: 1130px;
    height: 50px;
    padding: 10px;
}
.post-register-button {
    border: 1px solid var(--main-color-1);
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}
.post-register-button:hover {
	background-color: var(--main-color-2);
	border: 1px solid var(--main-color-2);
	color: #333;
}
.delete-comment-button {
	cursor: pointer;
}
.delete-comment-button:hover {
	color: var(--main-color-2);
}
.post-footer {
	margin: 20px 5px;
}
.post-comment {
	padding: 10px 0px;
    border-bottom: 1px solid #555;
}
.comment-content {
    padding: 10px;
}
.commemter-info {
	display: flex;
	text-align: center;
	margin: 5px 0px 0px 0px;
}
.comment-profile {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 10px;
}
.aeta-like-png {
	width: 30px;
    height: 30px;
    cursor: pointer; 
    margin-right: 10px; 
}
.like-container {
	display: flex;
	text-align: center;
}
.count-likes {
	padding-top: 3px;
}