@charset "UTF-8";
tr {
	height: 30px;
	vertical-align: top;
}
tbody tr {
	cursor: pointer;
}
tbody tr:hover {
	background-color: #444;
}
tr th {
	width: 280px;
}
tr td {
	text-align: center;
}
input {
	background-color: var(--main-back);
}
input:focus {
	border-bottom: 1px solid var(--main-color-2);
}
textarea {
	background-color: var(--main-back);
}
textarea:focus {
	outline: none;	
}
.search {
	text-align: center;
	padding: 30px;
}
.search select, .search input {
	background-color: var(--main-back);
}
.search form {
	display: inline-block;
	width: 500px;
}
.num, .count {
	width: 60px;
}
.title {
	padding-left: 20px;
	width: 400px;
	text-align: left;
}
.aeta-title > button {
	position: relative;
	border: 1px solid #fff;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	cursor: pointer;
	bottom: 50px;
	left: 1050px;
}
.aeta-title > button:hover {
	background-color: #222;
}
.aeta-title {
	width: 1150px;
	height: 60px;
	border-bottom: 1px solid #666;
	margin: 0px auto 10px auto;
	padding: 30px 50px 10px 50px;
}
.aeta-title strong {
	font-size: 32px;
}
.aeta-title p {
	color: #666;
}
.aeta-pagination {
	text-align: center;
	margin: 10px auto 10px auto;
	width: 1150px;
	padding: 10px;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}
.aeta-pagination span {
	cursor: pointer;
}
.aeta-photo {
	display: block;
	max-width: 800px;
	margin: auto;
}
.aeta-profile {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.aeta-like-png{
	height: 20px;
}
.selected {
	font-weight: bold;
	text-decoration: underline;
}
.search #inputValue {
	width: 410px;
	padding: 5px 10px 5px 10px;
}
.search #inputValue:focus {
	border-bottom: 1px solid var(--main-color-2);
}
.search #searchBtn {
	width: 50px;
	border: 1px solid var(--main-color-1);
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
}
.search select {
	padding: 5px 0px 5px 0px;
}
.aeta-post-wrap {
	text-align: center;
}
.aeta-post-wrap label {
	display: inline-block;
	width: 80px;
	font-size: 20px;
}
.aeta-post-wrap > div, .aeta-post-wrap > form {
	width: 900px;
	margin: auto;
}
.aeta-post-wrap button {
	padding: 10px 60px 10px 60px;
	margin: 30px;
	font-size: 24px;
	border: 1px solid var(--main-color-1);
	border-radius: 10px;
	cursor: pointer;
}
.aeta-post-wrap button:hover {
	background-color: #282828;
}
.comment-date, .comment-delete {
	float: right;
}
.comment-delete {
	margin-right: 20px;
}
.aeta-comment {
	margin-top: 10px;
}
.commentContent {
	margin-top: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #666;
}
.input-comment-wrap {
	padding: 10px 0px 10px 0px;
}
.input-comment-wrap > textarea {
	width: 800px;
	height: 50px;
}
.input-comment-wrap > button {
	width: 50px;
	height: 50px;
	border: 1px solid var(--main-color-1);
	border-radius: 10px;
	float: right;
	vertical-align: top;
}
.input-comment-wrap > button:hover {
	color: var(--main-color-2);
	border: 1px solid var(--main-color-2);
}
#aeta-post-likes {
	margin-top: 21px;
}
#aeta-post-likes > span {
	float: right;
}
#aetaPost {
	text-align: center;
	padding: 30px;
	border-bottom: 1px solid #fff;
	margin-bottom: 30px;
}
#aetaboardList {
	margin: auto;
	height: 350px;
	text-align: center;
}
#aetaboardList > table {
	display: inline-block;
}
#inputImg {
	visibility: hidden;
	width: 0;
	height: 0;
}
#imagePreview {
	height: 250px;
	width: 800px;
	margin: auto;
	padding: 20px;
	overflow-y: auto;
	background-color: rgba(255,255,255,0.1);
	border-radius: 20px;
	text-align: center;
}
#imagePreview img {
	width: 200px;
	height: 200px;
	object-fit: contain;
	padding: 10px;
	margin: 10px;
	border: 1px solid var(--main-color-1);
	border-radius: 10px;
	transform: scale(1);
	transition: 0.2s linear all;
}
#imagePreview img:hover {
	transform: scale(0.9);
}
#inputTitle {
	width: 745px;
	margin-right: 40px;
	font-size: 20px;
}
#aetaPostImage {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: left;
}
#aetaPostImage label {
	margin-left: 40px;
	width: auto;
	cursor: pointer;
}
#aetaPostImage label img {
	width: 40px;
	height: 40px;
}
#imagePreviewExp {
	display: inline-block;
	width: 760px;
	text-align: right;
}
#aetaInputContentWrap {
	width: 800px;
	margin: auto;
}
#aetaInputContentWrap label {
	text-align: left;
	display: block;
}
#inputContent {
	width: 800px;
	height: 300px;
	font-size: 16px;
}
#aetaPostDetail {
	width: 900px;
	margin: 30px auto 0px auto;
}
#aetaTitle {
	font-size: 32px;
}
#aetaWriter, #aetaPostDate {
	display: inline-block;
}
#aetaContent {
	padding: 20px 0px 20px 0px;
}
.overlay{
	display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}