@charset "EUC-KR";

:root{
	accent-color: var(--main-color-2);
}

.reportModal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: var(--main-back);
	border: 1px solid #ccc;
	z-index: 1000;
	max-height: 80vh; 
	overflow-y: auto;
	width: 321px; 
	max-width: 920px; 
}


.report-modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 900;
}



.reportId {
	display: inline-block;
	width: 70px;
}

#closeBtn {
  position: relative;
  float:right;
  font-weight: bold;
  color: #777;
  font-size:25px;
  cursor: pointer;
  bottom: 15px;
}

#reportReason div:first-child {
	font-weight: bold;
}

#reportTitle {
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
	color: var(--main-color);
}

#reportReason > div {
	margin-bottom: 10px;
}

#reportReason input {
	transform: scale(1.5);
	margin-right: 10px;
}

#reportReason button {
	width: 300px;
	height: 50px;
	margin: 10px 0px 0px 0px;
	border: 0;
	border-radius: 15px;
	background-color: var(--main-color);
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

#reportReason button:hover {
	color: #ddd;
}

.reportHr{
	margin : 10px 0px 10px 0px;
	
}