@charset "UTF-8";

.cartList {
    padding-bottom: 70px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
	width: 100%;
    border-collapse: collapse;
    margin: 15px 0px 100px 0px;
    text-align: center;
}

th {
    background-color: #444;
    font-size: 18px;
}

td {
    border-bottom: 1px solid gray;
    height: 190px;
}

.head-tr {
    height: 50px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }

.section-title {
    margin: 0;
  }
.clist-product-info{
	display: flex;
    align-items: center;
}
.clist-quantity {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clsit-order-price{
    width: 300px;
}
.clist-toatl-amount{
    display: flex;
    width: 500px;
    justify-content: space-around;
    font-size: 25px;
}
.total-amount-wrap{
    display: flex;
    justify-content: center;
}
.product-info{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.product-info span{
	display: flex;
	text-align: left;
	
}
.count{
	width: 100px;
	display: flex;
  	align-items: center;
    justify-content: space-between;
    
}

img {
	height: 120px;
	margin-right: 30px; 
	margin-left: 30px; 
	width: 120px;
}
.delete-button{
	display: flex;
}

#orderBtn, #backBtn{
	margin: 20px;
	font-size: 40px;
	width: 400px;
	padding: 10px;
	background-color: #444;
	border: 1px solid #ccc5b6;
	border-radius: 5px;
	cursor: pointer;
}

.count {
  display: flex;
  align-items: center;
}


#orderBtn:hover {
  background-color: var(--main-color-2); 
  color: var(--main-back); 
  border-color: var(--main-color-2); 
}
#backBtn:hover{
  background-color: var(--main-color-2); 
  color: var(--main-back); 
  border-color: var(--main-color-2); 
}

#totalAmount{
	font-size: 40px;	
}

.btn-container{
	display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
}
.total-amount-container{
	display: flex;
}
.clist-total-amount-wrap{
	display: flex;
	align-items: center;
	margin: 20px;
	font-size: 40px;
	padding: 10px;
	background-color: #444;
	border: 1px solid #ccc5b6;
	border-radius: 5px;
	cursor: pointer;
	width: 500px;
}
