
.danggun-user-info:active {
  background-color: #444; /* 클릭 시 배경색을 노란색으로 변경 (원하는 색상으로 수정 가능) */
  /* 다른 시각적인 스타일 변경도 가능합니다 */
}

.chat-history-container {
	display: flex;
	justify-content: space-around;
	margin: auto;
	height: 700px;
}

.user-info-container {
	border-right: 1px solid;
	/* 필요한 높이만큼 스크롤 가능한 영역으로 설정 */
	height: 700px;
	/* 스크롤바 스타일 지정 */
	overflow-y: auto; /* 수직 스크롤바 표시 */
	overflow-x: hidden; /* 수평 스크롤바 숨김 */
	/* 필요에 따라 다른 스타일도 추가할 수 있습니다 */
}

.chat-history-container>div {
	display: flex;
	flex-direction: column;
	width: 500px;
}

.chat-history-container .chat-room-view {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.chat-history-container #chatRoomView {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.chat-list-header{
	position: sticky;
	top: 0;
	background-color: var(--main-back);
}

.user-info-title {
	font-size: 20px;
	font-weight: bold;
	padding: 20px;
	line-height: 33px;
}

.image {
	width: 275px;
    height: 250px;
}

.danggun-user-info {
	display: flex;
	align-items: center;
}

.danggun-user-info img {
	width: 60px;
	height: 60px;
	padding: 5px 20px;
    border-radius: 50%;
}
