/* Dropdown button */
.dropbtn {
	background-color: #444;
	color: var(- -main-color-1);
	padding: 12px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: #333;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.user-info-title:hover .dropdown-content {
	display: block;
	
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.user-info-title:hover .dropbtn {
	background-color: var(--main-color-2);
	color: #333;
}

.chat-history-container {
	display: flex;
	justify-content: space-around;
	margin: auto;
	height: 700px;
}

.user-info-container {
	border-right: 1px solid;
	/* 필요한 높이만큼 스크롤 가능한 영역으로 설정 */
	height: 700px;
	/* 스크롤바 스타일 지정 */
	overflow-y: auto; /* 수직 스크롤바 표시 */
	overflow-x: hidden; /* 수평 스크롤바 숨김 */
	/* 필요에 따라 다른 스타일도 추가할 수 있습니다 */
}

.chat-history-container>div {
	display: flex;
	flex-direction: column;
	width: 500px;
}

.chat-history-container .chat-room-view {
	margin-left: 30px;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.chat-history-container #chatRoomView {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.user-info-title {
	font-size: 20px;
	font-weight: bold;
	padding: 20px;
	line-height: 33px;
}

.image {
	width: 297px;
	height: 271px;
}

.danggun-user-info {
	display: flex;
	align-items: center;
}

.danggun-user-info.img img {
	width: 60px;
	height: 60px;
	padding: 5px 20px;
}