
.partner-info-container:active {
  background-color: #444;
}

.chat-history-container {
	display: flex;
	justify-content: space-around;
	margin: auto;
	height: 700px;
	background-color: #282828
}

.user-info-container {
    height: 700px;
    overflow-y: scroll; /* 항상 수직 스크롤바 표시 */
    overflow-x: hidden; /* 수평 스크롤바 숨김 */
}

.chat-history-container>div {
	display: flex;
	flex-direction: column;
    width: 540px;
}

.chat-history-container .chat-room-view {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
}

.chat-history-container #chatRoomView {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.chat-list-header{
	position: sticky;
	top: 0;
	background-color: #444;
}

.user-info-title {
	font-size: 20px;
	font-weight: bold;
	padding: 20px;
	line-height: 33px;
}

.image {
	width: 275px;
    height: 250px;
}

.danggun-user-info {
	display: flex;
	align-items: center;
	margin-top: 5px
}

.danggun-user-info img {
	width: 60px;
	height: 60px;
	padding: 5px 20px;
    border-radius: 50%;
}
