.pwd-check-container {
	display: flex;
	justify-content: center;
	width: 100%;
    height: 600px;
    border-bottom: 1px solid;
    align-items: center;
}

.pwd-check {
	width: 300px;
	height: 80px;
	margin-top: 10px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pwd-check-wrap-1>form div button {
	width: 135px;
	height: 65px;
	border-radius: 10px;
	border: 0px;
	color: #fff;
	cursor: pointer;
}

.pwd-check-wrap-1>div {
	margin-top: 5px;
}

.pwd-check-wrap-1>div a {
	width: 400px;
}

.pwd-check-radius>button {
	width: 100px;
	padding: 10px;
	background-color: #444;
	border: 1px solid #ccc5b6;
	border-radius: 5px;
	cursor: pointer;
}

.pwd-check-radius>button:hover {
	background-color: var(--main-color-2);
	color: black;
	border-color: var(--main-color-2);
}

.pwd-check span {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0%;
	background-color: #666;
	width: 0;
	height: 2px;
	border-radius: 2px;
	transition: 0.5s;
}

.pwd-check label {
	position: absolute;
	color: #555;
	left: 10px;
	font-size: 20px;
	bottom: 8px;
	transition: all .2s;
}

.pwd-check input {
	font-size: 1.3em;
	color: #eee7d8;
	width: 270px;
	height: 51.8px;
	border: none;
	border-bottom: solid #aaaaaa 1px;
	padding: 22px 10px 0px 20px;
	position: relative;
	background: none;
	z-index: 5;
}

.pwd-check span {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0%;
	background-color: #666;
	width: 0;
	height: 2px;
	border-radius: 2px;
	transition: 0.5s;
	margin-bottom: 3.7px;
}

.pwd-check label {
	position: absolute;
	color: #aaa;
	left: 10px;
	font-size: 20px;
	bottom: 10px;
	transition: all .2s;
}

.pwd-check input:focus ~ label, .pwd-check input:valid ~ label {
	font-size: 16px;
	bottom: 50px;
	color: #666;
	font-weight: bold;
}

.pwd-check input:focus ~ span, .pwd-check input:valid ~ span {
	width: 300px;
}

.pwd-check input::placeholder {
	color: #aaaaaa;
}

.pwd-check input:focus {
	outline: none;
}