.button-container {
	display: flex; /* Flexbox를 사용하여 요소를 나란히 배치 */
	justify-content: space-between; /* 요소 사이의 공간을 최대화하여 배치 */
}

.pwd-check {
	width: 300px;
	height: 80px;
	margin-top: 10px;
	position: relative;
}

.pwd-check-container {
	width: 1100px;
	height: 300px;
	padding: 100px 75px 100px 75px;
	border: 1px solid #ccc;
	border-radius: 20px;
}

.pwd-check-container>div h3 {
	width: 300px;
	font-size: 1.1em;
	padding-bottom: 20px;
}

.pwd-check-wrap-1 {
	width: 300px;
	height: 300px;
	display: inline-block;
	border-left: #ccc solid 1px;
	padding: 0px 100px 0px 149.5px;
}

.pwd-check-wrap-2 {
	width: 300px;
	height: 300px;
	display: inline-block;
	padding: 0px 149.5px 0px 100px;
}

.social-wrap {
	width: 300px;
	height: 300px;
	display: inline-block;
	padding: 0px 149.5px 0px 100px;
}

.pwd-check-wrap-1>*, .pwd-check-wrap-2>* {
	float: inherit;
}

.pwd-check-wrap-1>form div button, .pwd-check-wrap-2>form div button {
	width: 135px;
	height: 65px;
	border-radius: 10px;
	border: 0px;
	background-color: var(- -main-color);
	color: #fff;
	cursor: pointer;
}

.pwd-check-wrap-1>div, .pwd-check-wrap-2>div {
	margin-top: 5px;
}

.pwd-check-wrap-1>div a, .pwd-check-wrap-2>div a {
	width: 400px;
}

.pwd-check-wrap-1>div button, .pwd-check-wrap-2>div button {
	background-color: var(- -main-color);
	color: #fff;
}

.pwd-check-wrap-1>.btn, .pwd-check-wrap-2>.btn {
	padding: 0px;
	background-color: var(- -main-color);
}

.pwd-check-radius {
	border-radius: 10px;
}

.line {
	width: 0px;
	height: 300px;
	border: 1px solid #ddd;
	display: inline-block;
	margin: auto;
}

.pwd-check-sub {
	width: 300px;
	text-align: center !important;
}

.pwd-check-sub-1 {
	color: var(- -main-color);
}

.pwd-check-sub-2 {
	color: #aaa;
	text-decoration-line: underline;
}

.pwd-check-menu {
	border-bottom: 4px solid #eee;
	margin: 10px 0px 20px 0px;
	padding-bottom: 10px;
	width: 1250px;
}

.pwd-check-menu>div {
	display: inline-block;
	width: 615px;
	text-align: center !important;
}

.pwd-check-menu div a {
	font-size: 1.5em;
}

.pwd-check-menu-selected {
	padding-bottom: 10px;
	border-bottom: 4px solid var(- -main-color);
}

.img-border {
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.pwd-check span {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0%;
	background-color: #666;
	width: 0;
	height: 2px;
	border-radius: 2px;
	transition: 0.5s;
}

.pwd-check label {
	position: absolute;
	color: #555;
	left: 10px;
	font-size: 20px;
	bottom: 8px;
	transition: all .2s;
}

.pwd-check input {
	font-size: 1.3em;
	color: #eee7d8;
	width: 270px;
	height: 51.8px;
	border: none;
	border-bottom: solid #aaaaaa 1px;
	padding: 22px 10px 0px 20px;
	position: relative;
	background: none;
	z-index: 5;
}

.pwd-check span {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0%;
	background-color: #666;
	width: 0;
	height: 2px;
	border-radius: 2px;
	transition: 0.5s;
	margin-bottom: 3.7px;
}

.pwd-check label {
	position: absolute;
	color: #aaa;
	left: 10px;
	font-size: 20px;
	bottom: 10px;
	transition: all .2s;
}

.pwd-check input:focus ~ label, .pwd-check input:valid ~ label {
	font-size: 16px;
	bottom: 50px;
	color: #666;
	font-weight: bold;
}

.pwd-check input:focus ~ span, .pwd-check input:valid ~ span {
	width: 300px;
}

.pwd-check input::placeholder {
	color: #aaaaaa;
}

.pwd-check input:focus {
	outline: none;
}

.social-wrap a img {
	box-shadow: 3px 3px 3px #ccc;
	border: 1px solid #ddd;
}