

table {
    width: 100%;
    border: solid 1px #eee7d8;
    border-collapse: collapse;
}

th, td {
    border: solid 1px #eee7d8;
}

.danggun-sale {
    text-align: center;
}

.danggun-sale.num {
    width: 70px;
}


.danggun-sale.info {
    display: flex;
    width: 560px;
   
    align-items: center;
}

.danggun-sale-info.img {
    flex: 0.4;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.danggun-sale-info.name {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: left;
    align-items: center; 
}

.danggun-sale-info.img img {
    width: 60px;
    height: 60px;
    padding: 5px 20px;
}

.danggun-sale.price {
    width: 130px;
}

.danggun-sale.upload-date {
    width: 100px;
}

.danggun-sale.state {
    width: 80px;
}

