.report-modal {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 20px;
	background-color: var(--main-back);
	border: 1px solid #ccc;
	z-index: 1000;
	max-height: 80vh;
	overflow-y: auto; 
	width: 25%;
	max-width: 920px;
}

.report-modal-overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 900;
}

.report-id {
	display: inline-block;
	width: 70px;
	margin-bottom: 5px;
}

.close-button {
  position: relative;
  float:right;
  font-weight: bold;
  color: #777;
  font-size:25px;
  cursor: pointer;
  bottom: 15px;
}

.report-reason {
	margin-left: 10px;
	
}

.report-reason div:first-child {
	font-weight: bold;
	margin: 15px 0px;
}

.report-title {
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
	color: var(--main-color);
}

.report-reason > div {
	margin-bottom: 10px;
}

.report-reason > div > label > input {
	transform: scale(1.5);
	margin-right: 10px;
}

.report-reason > div> label{
	cursor: pointer;
}

.danggun-report-button {
	margin: 20px 0px 20px 270px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    padding: 10px;
    background-color: #444;
    color: #eee7d8;
    border: 1px solid var(--main-color-1);
}

.danggun-report-button:hover {
    color: var(--main-back);
    background-color: var(--main-color-2);
    border: 1px solid var(--main-color-2);
}

.reportHr{
	margin : 10px 0px 10px 0px;
}