@charset "UTF-8";

:root {
  --main-color: #2E3C8A;
}

* {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

a {
  text-decoration-line: none;
  color: #000;
}

header {
  margin: auto;
  margin-top: 20px;
  width: 1250px;
  height: 80px;
}

header div {
  height: 80px;
}

header div a {
  margin-right: 15px;
  font-size: 1.25em;
  font-weight: bold;
}

header div button {
  height: 50px;
  width: 120px;
  font-size: 1.25em;
  font-weight: bold;
  color: #fff;
  border-radius: 10px;
  background-color: var( --main-color);
}

nav {
  width: 1250px;
  height: 40px;
  font-size: 1.5em;
  font-weight: bold;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

nav > div {
  display: inline-block;
}

nav div > a {
  display: inline-block;
  width: 130px;
  text-align: center;
}

.nav-main {
  width: 1250px;
  height: 40px;
  vertical-align: middle;
}

.nav-main > div {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  margin-left: 100px;
}

.nav-main > div > a {
  display: inline-block;
  margin-top: 9.5px;
  height:31.5px;
  vertical-align: middle;
}

.nav-submenu {
  position: absolute;
  width: 130px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.25s ease;
}

.nav-submenu a {
  display: block;
  padding-bottom: 5px; 
}

nav a:hover {
  color: var(--main-color);
}

.nav-main a:hover ~ .nav-submenu {
  transform: scaleY(1);
}

.nav-submenu:hover {
  transform: scaleY(1);
}

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}

.menu-trigger {
  position: relative;
  width: 25px;
  height: 22px;
}

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
  top: 0;
}

.menu-trigger span:nth-of-type(2) {
  top: 9px;
}

.menu-trigger span:nth-of-type(3) {
  bottom: 9.5px;
}

.menu-trigger.active-1 span:nth-of-type(1) {
  -webkit-transform: translateY (9px) rotate (-45deg);
  transform: translateY(9px) rotate(-45deg);
}

.menu-trigger.active-1 span:nth-of-type(2) {
  opacity: 0;
}

.menu-trigger.active-1 span:nth-of-type(3) {
  -webkit-transform: translateY(-9px) rotate(45deg);
  transform: translateY(-9px) rotate(45deg);
}

footer {
  margin: auto;
  width: 1250px;
}

footer div {
  display: inline-block;
  width: 610px;
  margin-top: 4px;
}

.float-right {
  float: right;
}

.float-right > div {
  text-align: right;
}

.text-1 {
  font-size: 24px;
}

.img-1 {
  width: 30px;
  height: 30px;
}

.img-2 {
  width: 220px;
  height: 220px;
}

.pointer {
  cursor: pointer;
}

.logo {
  display: inline-block;
  width: 180px;
  height: 80px;
  background-image: url("../images/logo.png");
  background-size: cover;
}

.container {
  margin: auto;
  width: 1250px;
}

.main-banner {
  width: 1200px;
  height: 450px;
}

.main-banner > img {
  width: 1100px;
  height: 350px;
  margin: 50px;
}

.main-product > div {
  display: inline-block;
  width: 220px;
  margin: 10px 15px 10px 15px;
  text-align: center;
  vertical-align: top;
}

.main-product > div img:hover {
  animation-name: scale-1;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes scale-1 {
  100% {
    transform: scale(1.05);
  }
}

.login {
  width: 300px;
  height: 80px;
  margin-top: 10px;
  position: relative;
}

.login-container {
  width: 1100px;
  height: 300px;
  padding: 100px 75px 100px 75px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

.login-container > div h3 {
  width: 300px;
  font-size: 1.1em;
  padding-bottom: 20px;
}

.login-wrap-1 {
  width: 300px;
  height: 300px;
  display: inline-block;
  border-left: #ccc solid 1px;
  padding: 0px 100px 0px 149.5px;
}

.login-wrap-2 {
  width: 300px;
  height: 300px;
  display: inline-block;
  padding: 0px 149.5px 0px 100px;

}

.social-wrap {
  width: 300px;
  height: 300px;
  display: inline-block;
  padding: 0px 149.5px 0px 100px;
}

.login-wrap-1 > *, .login-wrap-2 > * {
  float: inherit;
}

.login-wrap-1 > form div button, .login-wrap-2 > form div button {
  width: 300px;
  height: 65px;
  border-radius: 10px;
  border: 0px;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}

.login-wrap-1 > div, .login-wrap-2 > div {
  margin-top: 5px;
}

.login-wrap-1 > div a, .login-wrap-2 > div a {
  width: 400px;
}

.login-wrap-1 > div button, .login-wrap-2 > div button {
  background-color: var(--main-color);
  color: #fff;
}

.login-wrap-1 > .btn, .login-wrap-2 > .btn {
  padding:0px;
  background-color: var(--main-color);
}

.login-radius {
  border-radius: 10px;
}

.line {
  width: 0px;
  height: 300px;
  border: 1px solid #ddd;
  display: inline-block;
  margin: auto;
}

.login-sub {
  width: 300px;
  text-align: center !important;
}

.login-sub-1 {
  color: var(--main-color);
}

.login-sub-2 {
  color: #aaa;
  text-decoration-line: underline;
}

.login-menu {
  border-bottom: 4px solid #eee;
  margin: 10px 0px 20px 0px;
  padding-bottom: 10px;
  width: 1250px;
}

.login-menu > div {
  display: inline-block;
  width: 615px;
  text-align: center !important;
}

.login-menu div a {
  font-size: 1.5em;
}

.login-menu-selected {
  padding-bottom: 10px;
  border-bottom: 4px solid var(--main-color);
}

.img-border {
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.login span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0%;
  background-color: #666;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
}

.login label {
  position: absolute;
  color: #555;
  left: 10px;
  font-size: 20px;
  bottom: 8px;
  transition: all .2s;
}

.login input {
  font-size: 1.3em;
  color: #222222;
  width: 270px;
  height: 51.8px;
  border: none;
  border-bottom: solid #aaaaaa 1px;
  padding: 22px 10px 0px 20px;
  position: relative;
  background: none;
  z-index: 5;
}

.login span {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0%;
  background-color: #666;
  width: 0;
  height: 2px;
  border-radius: 2px;
  transition: 0.5s;
  margin-bottom: 3.7px;
}

.login label {
  position: absolute;
  color: #aaa;
  left: 10px;
  font-size: 20px;
  bottom: 10px;
  transition: all .2s;
}

.login input:focus ~ label, .login input:valid ~ label {
  font-size: 16px;
  bottom: 50px;
  color: #666;
  font-weight: bold;
}

.login input:focus ~ span, .login input:valid ~ span {
  width: 300px;
}

.login input::placeholder { color: #aaaaaa; }
.login input:focus {outline: none; }

.social-wrap a img {
  box-shadow: 3px 3px 3px #ccc;
  border: 1px solid #ddd;
}

.find-guide {
  text-align: center;
  margin-top: 5px;
  color: #888;
}

.email-autocomplete {
  position: absolute;
  background-color: rgb(255, 255, 255);
  z-index: 10;
  padding: 0px 20px 0px 20px;
}

.mail-menu {
  font-size: 24px;
  margin-top: 10px;
}

.mail-menu:hover {
  background-color: var(--main-color);
  color: #fff;
}