@charset "UTF-8";

/* @font-face {
    font-family: 'VitroCore';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.ttf') format("truetype");
    font-display: swap;
} */
@font-face {
    font-family: 'OAGothic-Medium.woff2';
    src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Oa/OAGothic-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MBC1961GulimM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OAGothic-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/OAGothic-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

:root {
    --main-back: #333;
    --main-color-1: #EEE7D8;
    --main-color-2: #CBF83E;
    --red: #ff2400;
}
* {
    margin: 0;
    padding: 0;
    color: var(--main-color-1);
    font-family: 'OAGothic-Medium.woff2';
}
html, body {
    background-color: var(--main-back);
    min-height: 100%;
}
button {
    border: 0;
    background: none;
}
a {
    text-decoration: none;
}
input {
    border: 0;
    border-bottom: 1px solid var(--main-color-1);
}
input:focus {
    outline: none;
    border: 0;
}
.container {
    width: 1250px;
    min-height: calc(100% - 320px);
    margin: auto;
}
input[type="date"]::-webkit-calendar-picker-indicator {
   color: var(--main-color-1);
}