@charset "UTF-8";

/* @font-face {
    font-family: 'VitroCore';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroCore.ttf') format("truetype");
    font-display: swap;
} */

@font-face {
    font-family: 'VitroPride';
    font-weight: normal;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroPride.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroPride.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroPride.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroPride.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/vitro/VitroPride.ttf') format("truetype");
    font-display: swap;
}

:root {
    --main-back: #333;
    --main-color-1: #EEE7D8;
    --main-color-2: #CBF83E;
    --red: #ff2400;
}
* {
    margin: 0;
    padding: 0;
    color: var(--main-color-1);
    font-family: 'VitroPride';
}
html, body {
    background-color: var(--main-back);
    height: 100%;
}
button {
    border: 0;
    background: none;
}
a {
    text-decoration: none;
}
input {
    border: 0;
    border-bottom: 1px solid var(--main-color-1);
}
input:focus {
    outline: none;
    border: 0;
}
.container {
    width: 1250px;
    margin: auto;
}