.custom-file-upload {
	display: flex;
    margin-top: 30px;
    width: 100px;
    padding: 10px;
    background-color: #444;
    border: 1px solid #ccc5b6;
    border-radius: 5px;
    cursor: pointer;
    align-items: baseline;
    justify-content: center;
}

.custom-file-upload:hover {
    background-color: var(--main-color-2);
	color: var(--main-back);
	border-color: var(--main-color-2);
}

input[type="file"] {
    display: none;
}

.profile-password {
	padding: 15px 0px 8px 0px;;
}

.modal {
	color: black;
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 120;
}

.profile-password label.modal-attribute-name {
	color: var(--main-color-1);
}

.withdrawl-container label.modal-attribute-name {
	color: black;
}

.modal-content {
	color: var(--main-color-1); 
	background-color: var(--main-back);
	margin: 10% auto;
	padding: 20px;
	border-radius: 5px;
	width: 500px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
	color: #777; 
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.modal-input-form,
    select {
    	color: var(--main-color-1);
		background-color : var(--main-back);
        width: 100%;
        padding: 10px;
        margin: 5px 0 15px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
}

#withdrawlCompleted {
	width: 100px;
	padding: 10px;
	background-color: #444;
	border: 1px solid #ccc5b6;
	border-radius: 5px;
	cursor: pointer;
}

input[type="password"] {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.mypage-subtitle {
	font-size: 25px;
}

.modifyUserInfo-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
}

.modifyUserInfo-container-wrap {
	width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    padding-bottom: 40px;
}

:root { 
	-main-color: #AAA; 
	-figma-color: #2E3C8A;
}

.red-star {
	color: red;
	margin: auto;
}

.profile-photo img {
	border: 2px solid var(--main-color-1); 
	border-radius: 50%; 
	padding: 1px; 
}

.profile-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
}

.profile-photo-file {
	width: 220px;
	height: 220px;
	z-index: 100;
}

.profile-info {
	width: 400px;
	margin: auto;
}

.input-form {
	display: inline-block;
	margin-block: 10px;
}

.form-address {
	font-size: 14px;
	color: #eee7d8;
	width: 240px;
	height: 40px;
	border: none;
	border-bottom: solid #aaaaaa 1px;
	padding: 3px 3px;
	position: relative;
	background: none;
}

#zipCode {
	font-size: 14px;
	color: #eee7d8;
	width: 95px;
	height: 40px;
	border: none;
	border-bottom: solid #aaaaaa 1px;
	padding: 3px 3px;
	position: relative;
	background: none;
}

.attribute-name {
	display: inline-block;
	width: 120PX;
}

.save-password {
	display: flex;
	align-items: flex-end;
}

#savePassword {
  margin-left: auto;
}

button {
	width: 100px;
	padding: 10px;
	background-color: #444;
	border: 1px solid #ccc5b6;
	border-radius: 5px;
	cursor: pointer;
}

#openModal {
	width: 60px;
	padding: 5px;
}

button:hover {
	background-color: var(--main-color-2); 
	color: var(--main-back);
	border-color: var(--main-color-2); 
}

.input-form {
	font-size: 14px;
	color: #eee7d8;
	width: 240px;
	height: 40px;
	border: none;
	border-bottom: solid #aaaaaa 1px;
	padding: 3px 3px;
	position: relative;
	background: none;
}

.form-address button {
	margin-left: 10px;
	margin-top: 10px;
}

#wrongForm-inform, #notMatch-inform {
	visibility: hidden;
	color: black;
}
.modify-button {
	display: flex;
	justify-content: flex-end;
}

.withdrawl-btn-container{
	display: flex;
	font-size: 13px;
}

#withdrawlBtn{
	border: none;
    background: none;
    color: #999999; 
    text-decoration: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    transition: border-bottom 0.3s ease;
}

#withdrawlCompleted:hover {
    background-color: var(--main-color-2);
	color: var(--main-back); 
	border-color: var(--main-color-2);
}
    
.zip-code-button {
	width: 120px;
}