.mypage-container {
    width: 1250px;
    height: 1400px;
}

.mypage-content {
    display: flex;
    padding-top: 80px;
}


table {
	width: 100%;

    border-collapse: collapse;
    margin: 15px 0px 10px 0px;
    text-align: center;
}

th {
    background-color: #444;
    font-size: 18px;
}


td {
    border-bottom: 1px solid gray;
}

.head-tr {
    height: 50px;
}

.recent-info {
	padding-bottom: 70px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
  }

.section-title {
    margin: 0;
  }


.side-bar-container {
    width: 300px;
    height: 650px;
    box-sizing: border-box;
    font-size: 21px;
   
}

.side-bar {
    padding-left: 15px;
}

.side-bar.title {
    font-size: 45px;
    padding-bottom: 45px;
    font-weight: bold;
}

.side-bar.menu {
    padding-right: 80px;
}

.menu-container {
    border-bottom: 1px white solid;
    padding: 25px 0px;
}

.coupung-menu, .danggun-menu, .chat-menu, .aeta-menu, .user-menu {
    padding: 3px 0px;
}

.content-container {
    width: 950px;
    height: 1300px;
    box-sizing: border-box;
}

.preview-container {
    width: 100%;
    height: 250px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    display:flex;
}

.preview {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.preview.user {
    width: 40%;
    color: black;
    display: flex;
    padding: 50px 0px 30px 35px;
}

.preview.user > img {
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    margin-right: 20px;
}

.preview-user.text {
    font-size: 20px;
}

.preview-user.name > span {
    font-size: 40px;
}

.preview.menu {
    width: 60%;
    display: flex;
    text-align: center;
}

.preview-menu {
    flex: 1;
    box-sizing: border-box;
    padding: 30px 0px 20px 0px;
}

.preview-menu-image {
    width: 120px;
    height: 120px;
}

.preview-menu-text {
    margin: 15px;
    font-size: 22px;
}

.preview-menu-text > p {
    margin-bottom: 3px;
}

.content-info-container {
    width: 100%;
    padding-top: 60px;
}

.content-info {
    width:100%;
    height: 100%;
}

.recent-info {
	padding-bottom: 70px;
}

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-title {
    margin: 0;
  }

.coupung-block-container {
	position: relative;
	display: inline-block;
}

.coupung-block {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    width: 60px; 
    height: 60px;
    z-index: 1;
}
