@CHARSET "UTF-8";
:root {
  --main-mint-color: #CBF83E;
}

* {
	margin: 0px;
	padding: 0px;
}

.chat-header {
	position: sticky;
	top: 0;
} 

.chat-header {
	background-color: var(--main-back);
	font-size: 14px;
	padding: 15px 0px;
	text-align: center;
}

.chat {
	padding-bottom: 100px;
	width: 100%;
}

.chat .left {
	text-align: left;
}

.chat .right {
	text-align: right;
}

.chat {
	font-size: 12px;
}

.chat .sender {
	margin: 10px 25px 0px 10px;
	font-weight: bold;
}

.chat .message {
	display: inline-block;
	margin: 5px 20px 0px 10px;
	max-width: 75%;
	border: 1px solid gray;
	padding: 5px;
	border-radius: 5px;
	background-color: var(--main-back);
	text-align: left;
}

.chat .date {
	margin: 5px 20px 10px 10px;
	font-size: 10px;
}

.message-input {
	
	bottom: 0px;
	width: 100%;
	text-align: center;
	border: 1px solid var(--main-mint-color);
}

.txtMessage {
	background-color: var(--main-back);
	width: 600px;
	height: 80px;
	border: none;
	padding: 5px;
}

.chat-wrap {
	width : 100%;
	height : 700px;
}

/* 내가 추가 */
.chat-title{
	background-color: var(--main-back);
}
hr {
	border : 1px solid var(--main-mint-color);
}

.main-img {
	width : 100px;
	height : 100px;
}

.product-bar {
	display: flex;
	flex-direction: row;
}

.product-info {
	display: flex;
	flex-direction: column;
}