@CHARSET "UTF-8";
:root {
  --main-mint-color: #CBF83E;
}

* {
	margin: 0px;
	padding: 0px;
}

.chat-header {
	font-size: 14px;
	text-align: center;
}

.chat {
	width: 100%;
}

.chat .left {
	text-align: left;
}

.chat .right {
	text-align: right;
}

.chat {
	font-size: 12px;
	height: 533px;
	overflow-y: auto;
	overflow-x: hidden; 
}

.chat .sender {
	margin: 10px 25px 0px 10px;
	font-weight: bold;
}

.chat .message {
	display: inline-block;
	margin: 5px 20px 0px 10px;
	max-width: 75%;
	border: 1px solid gray;
	padding: 5px;
	border-radius: 5px;
	background-color: var(--main-back);
	text-align: left;
}

.chat .date {
	margin: 5px 20px 10px 10px;
	font-size: 10px;
}

.message-input {
	bottom: 0px;
	width: 100%;
	height: 200px;
	text-align: center;
	border-radius: 70%;
}

.txtMessage {
	background-color: #444;
	width: 600px;
	height: 84px;
	border: none;
	padding: 5px;
}

.chat-wrap {
	width : 100%;
	height : 700px;
}


.main-img {
	width: 60px;
    height: 61px;
    padding: 4px 15px;
}

.product-bar {
	background-color: #444;
	display: flex;
	flex-direction: row;
}

.product-info {
	display: flex;
    flex-direction: row;
    align-items: center;
}

.product-info-1{
	width: 200px;
	display: flex;
    flex-direction: column;
    align-items: flex-start;	
}
.product-info-price{
	font-size: 20px;
}
.product-info-2{
	padding-right: 11px;
    display: flex;
    justify-content: flex-end;
    width: 310px;
}