@CHARSET "UTF-8";
:root {
  --main-mint-color: #CBF83E;
}

* {
	margin: 0px;
	padding: 0px;
}

.chat-header {
	position: sticky;
	top: 0;
} 

.chat-header {
	font-size: 14px;
	text-align: center;
}

.chat {
	width: 100%;
}

.chat .left {
	text-align: left;
}

.chat .right {
	text-align: right;
}

.chat {
	font-size: 12px;
	border-right: 1px solid;
	/* 필요한 높이만큼 스크롤 가능한 영역으로 설정 */
	height: 500px;
	/* 스크롤바 스타일 지정 */
	overflow-y: auto; /* 수직 스크롤바 표시 */
	overflow-x: hidden; /* 수평 스크롤바 숨김 */
	/* 필요에 따라 다른 스타일도 추가할 수 있습니다 */
}

.chat .sender {
	margin: 10px 25px 0px 10px;
	font-weight: bold;
}

.chat .message {
	display: inline-block;
	margin: 5px 20px 0px 10px;
	max-width: 75%;
	border: 1px solid gray;
	padding: 5px;
	border-radius: 5px;
	background-color: var(--main-back);
	text-align: left;
}

.chat .date {
	margin: 5px 20px 10px 10px;
	font-size: 10px;
}

.message-input {
	bottom: 0px;
	width: 100%;
	height: 200px;
	text-align: center;
	border-radius: 70%;
}

.txtMessage {
	background-color: #444;
	width: 600px;
	height: 84px;
	border: none;
	padding: 5px;
}

.chat-wrap {
	width : 100%;
	height : 700px;
	border-right: 1px solid;
	
}


.main-img {
	width : 100px;
	height : 100px;
}

.product-bar {
	background-color: #444;
	display: flex;
	flex-direction: row;
}

.product-info {
	display: flex;
	flex-direction: column;
}