.hidden {
  display: none;
}

.order-list {
	margin-top: 60px;
	width: 780px;
}
.order-list-detail{
    display: flex;
    align-items: center;
    font-size: 20px;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 15px 0px 100px 0px;
	text-align: center;
}

th {
	background-color: #444;
	font-size: 15px;
}

td {
	border-bottom: 1px solid gray;
	height: 105px;
}

.head-tr {
	height: 50px;
}

.product-info-container {
	display: flex;
	align-items: center;
}

.product-quantity {
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-order-price {
	width: 300px;
}

.product-info {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: column;
	width: 325px;
}

.product-info span {
	display: flex;
	text-align: left;
	font-size: 12px;
}

.order-info-container {
	display: flex;
	justify-content: space-between;
}

.order-info-wrap {
	width: 780px;
}

.purchaser {
	margin-top: 60px;
	height: 230px;
}

.delivery {
	margin-top: 60px;
	height: 300px;
}

.payment-info {
	padding-bottom: 20px
}

.purchaser-info {
	padding-bottom: 20px;
}

.purchaser-name-wrap {
	display: flex;
	align-items: center;
	height: 50px;
}

.purchaser-name {
	margin-right: 50px;
}

.purchaser-phone-wrap {
	display: flex;
	align-items: center;
	height: 50px;
}

.purchaser-phone {
	margin-right: 35px;
}

.purchaser-email-wrap {
	display: flex;
	align-items: center;
	height: 50px;
}

.purchaser-email {
	margin-right: 35px;
}

.purchaser-address-wrap {
	margin-top: 5px;
    display: flex;
    height: 98px;
}

.purchaser-address {
	margin-right: 50px;
}

.purchaser-zipcode {
	margin-bottom: 15px;
}

.box {
	width: 240px;
	height: 30px;
	box-sizing: border-box;
	margin-left: 5px;
	padding: 5px 0 5px 10px;
	border-radius: 4px;
	border: 1px solid #d9d6d6;
	color: #383838;
	background-color: #ffffff;
	font-size: 15px;
}

.purchaser-info-container {
	width: 780px;
	border-bottom: 1px solid;
}

button {
	margin-left: 10px;
	width: 100px;
	padding: 10px;
	background-color: #444;
	border: 1px solid #ccc5b6;
	border-radius: 10px;
	cursor: pointer;
}

button:hover {
	background-color: var(--main-color-2);
	color: var(--main-back);
	border-color: var(--main-color-2);
}
#toggleButton{
	width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}
.checkbox {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 10px;
}

.pay-option {
	margin: 90px 0px;
}

.purchaser-payment-wrap {
	display: flex;
	align-items: center;
	height: 50px;
	border-top: 1px solid;
}

.pay-option-wrap {
	display: flex;
}

.pay-option-wrap input {
	margin-left: 20px;
}

.total-payment-conatiner {
	display: flex;
	width: 430px;
	height: 600px;
	border: 1px solid;
	flex-direction: column;
	align-items: center;
	margin-top: 60px;
	position: sticky;
	top: 0;
	border-radius: 50px;
	justify-content: space-between;
}

.total-payment-view {
	width: 400px;
	height: 300px;
}

.total-price-txt {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.total-order-price {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.order-price {
	margin: 30px 30px 0px;
	padding-bottom: 20px;
	font-size: 35px;
	border-bottom: 1px solid;
}

.delivery-info-container {
	border-bottom: 1px solid;
}

.name-info {
	border-top: 1px solid;
}

.overlap-group {
	font-size: 20px;
}

.price-container {
	display: flex;
	margin: 0px 30px 0px 30px;
	height: 210px;
	border-bottom: 1px solid;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.total-price-txt div {
	margin: 17px;
	font-size: 20px;
}

.total-order-price div {
	margin: 17px;
	font-size: 20px;
}

.price-container span {
	margin: 17px;
	font-size: 30px;
}

#payment {
	width: 210px;
	height: 70px;
	font-size: 33px;
	margin-bottom: 40px;
}

.agreement-container {
	margin: 30px;
	width: 337px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	font-size: 14px;
}

img {
	height: 70px;
	margin-right: 30px;
	margin-left: 30px;
	width: 70px;
}

#findAddr{
	width: 110px;
}
.agreement label {
	display: block;
	position: relative;
	padding-left: 30px; /* 체크박스와 텍스트 간의 여백 조절 */
	cursor: pointer;
	line-height: 1.5;
}
.agreement input[type="checkbox"] {
	display: none; /* 기본 체크박스 감추기 */
}
.agreement .circle {
	display: inline-block;
	position: absolute;
	left: 0;
	width: 22px;
	height: 22px;
	border: 2px solid #666;
	box-sizing: border-box;
	border-radius: 50%;
	cursor: pointer;
	background-color: var(--main-color-1);
}
.agreement input[type="checkbox"]:checked + .circle {
	border-color: var(--main-color-1);
	background-color: var(--main-back);
	background-image: url(https://blog.kakaocdn.net/dn/t7a2D/btrhtVgLYmG/dUxzAkBy9hIZ4gHmyllQrk/img.png);
	background-size: contain;
    background-repeat: no-repeat;
}
.agreement a{
	text-decoration: underline
}