.review-list-personal-score {
    position: relative;
    width: 150px;
    height: 30px;
}

.review-list-personal-score > div,
.review-list-personal-score img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
}

.review-list-personal-score > div {
    background-color: #CBF83E;d
}

.table-container {
	position: relative;
}

.delete-button {
	width: 60px;
	height: 40px;
	position: absolute;
	bottom: -70px;
	right: 10px;
	cursor: pointer;
	border-radius: 5px;
	margin: 10px 0px;
	padding: 5px;
	background-color: #444;
	border: 1px solid #ccc5b6;
}

.delete-button:hover {
    color: var(--main-back);
    background-color: var(--main-color-2);
    border: 1px solid var(--main-color-2);	
}
.review-list-input {
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.review-list-info {
	width: 200px;
}

.review-list-content {
	width: 350px;
	display: flex;
	align-items: center;
 	padding: 20px 0px;
}

.review-list-content-image, .review-list-content-content {
	display: inline-block
}

.review-list-content-image {
	margin: 0px 20px;
}

.review-list-content-content {
	text-align: left;
	width: 230px;
	padding-right: 20px;
}

.review-list-create-date {
	width: 150px;
}