@charset "UTF-8";

:root { 
	--main-color: #AAA;
	--figma-color: #2E3C8A; 
}

.title {
	font-size: large;
	font-weight: bold;
	text-align: center;
	align-items: center;
	color: #2E3C8A;
}

.form-group {
	margin-bottom: 10px;
}

.red-star {
	color: red;
	margin: auto;
}

.profile-photo img {
	border: 3px solid var(--main-color); /* 테두리 색상 설정 */
	border-radius: 50%; /* 원형 테두리를 위한 모서리 둥글게 설정 */
	padding: 1px; /* 테두리와 이미지 사이 여백 설정 */
}

.profile-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.profile-photo-file {
	width: 220px;
	height: 220px;
}

.profile-info {
	width: 400px;
	margin: auto;
}

.input-form {
	display: inline-block;
	margin-block: 10px;
}

.form-address {
	margin-block: 3px;
}

.attribute-name {
	display: inline-block;
	width: 120PX;
}

hr {
	width: 450px; /* 가로선 길이 조절 */
	border: 2; /* 기본 테두리 제거 */
	border-top: 2px solid var(--main-color); /* 가로선 색상 및 두께 설정 */
	margin: auto; /* 가운데 정렬 및 위아래 여백 설정 */
}

button {
	padding: 3px 3px;
	font-size: 14px;
	font-weight: bold;
	
	text-decoration: none;
	border: 2px solid var(--main-color); /* 테두리 색상 */
	border-radius: 5px; /* 테두리 모서리 둥글게 */
	color: var(--main-color); /* 텍스트 색상 */
	background-color: #fff; /* 배경색 */
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* 호버 효과 */
button:hover {
	background-color: #2E3C8A; /* 호버시 배경색 변경 */
	color: #fff; /* 호버시 텍스트 색상 변경 */
	border-color: #fff; /* 호버시 테두리 색상 변경 */
}

.input-form {
	padding: 3px 3px;
	font-size: 14px;
	font-weight: lighter;
	
	text-decoration: none;
	border: 2px solid var(--main-color); /* 테두리 색상 */
	border-radius: 5px; /* 테두리 모서리 둥글게 */
	color: var(- -main-color); /* 텍스트 색상 */
	background-color: #fff; /* 배경색 */
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.agreement-title{
	padding-left: 35%;

}
.agreement {
	padding-left: 35%;
	width: 300px;
	border: 1.2px solid #000;
	padding: 5px 0px 5px 10px;
	margin: auto;
	border-radius: 10px;
}

.agreement-text {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.agreement label {
	display: block;
	position: relative;
	padding-left: 30px; /* 체크박스와 텍스트 간의 여백 조절 */
	cursor: pointer;
	line-height: 1.5;
}

.agreement input[type="checkbox"] {
	display: none; /* 기본 체크박스 감추기 */
}

.agreement .circle {
	display: inline-block;
	position: absolute;
	left: 0;
	width: 22px;
	height: 22px;
	border: 2px solid #666;
	box-sizing: border-box;
	border-radius: 50%;
	cursor: pointer;
	background-color: #fff;
}

.agreement input[type="checkbox"]:checked+.circle {
	background-color: var(--figma-color);
	border-color: var(--figma-color);
	background-image:
		url(https://blog.kakaocdn.net/dn/t7a2D/btrhtVgLYmG/dUxzAkBy9hIZ4gHmyllQrk/img.png);
}

.agreement-text {
	color: #2E3C8A
}
/* 우편번호 검색, 회원가입 버튼 스타일 */
.form-address button, .sign-up-button button {
	margin-top: 10px;
}

.sign-up-button {
	display: flex;
	justify-content: center;
}

/* 사진등록 버튼 스타일 */
.profile-photo button {
	margin-top: 10px;
}

#wrongForm-inform, #notMatch-inform {
	visibility: hidden;
}
