:root { 
  --alto: #d9d9d9;
  --black: #000000;
  --gray10: #ffffff;
  --main: #2d3c8a;
  --pumice: #c9c9c9;
  --star-dust: #9d9d9d;
 
  --font-size-l: 16px;
  --font-size-m: 12px;
  --font-size-xl: 24px;
  --font-size-xxl: 25px;
  --font-size-xxxl: 32px;
 
  --font-family-inter: "Inter", Helvetica;
  --font-family-newsreader: "Newsreader", Helvetica;
}
.inter-normal-black-16px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-black-12px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}

.inter-normal-star-dust-12px {
  color: var(--star-dust);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 400;
}
