input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: var(--main-color-1) !important; 
    transition: background-color 5000s ease-in-out 0s;
    background-color: var(--main-back) !important
	border: 1px var(--main-color-1) solid;
}

.guest-check-container {
    width: 100%;
    padding: 100px 0px 50px 0px;
}

.guest-check-title {
    font-size: 40px;
    width: 300px;
    margin: auto;
    padding: 0px 20px 60px 20px;
}

.guest-check-content {
    width: 800px;
    margin: auto;
    text-align: center;
    font-size: 20px;
}

.input-container {
    padding: 20px 0px;

}

.input-info {  
    height: 60px;
    margin: 10px 0px;
    padding: 10px 0px;
}

.input-title {
    width: 90px;
    text-align: left;
    display: inline-block;
}

.input {
    padding: 5px 20px;
    width: 450px;
    height: 60px;
    display: inline-block;
    border-radius: 10px;
    background-color: #333;
    border: solid 1px;   
    font-size: 18px;
}

.guest-check-button {
    color: #EEE7D8;
    width: 200px;
    border: 1px solid #EEE7D8;
    background-color: #333;
    cursor: pointer;
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
    font-size: 18px;
}

.guest-check-button:hover {
    border: 1px solid #CBF83E;
    background-color: #CBF83E;
    color: #333;
}