<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ounwan.carts">

	<select id="getCartById" parameterType="String" resultType="map">
		SELECT coupung.name, option.name AS option, coupung.price, cart.*, image.URL
		FROM COUPUNG coupung
		JOIN CARTS cart ON coupung.COUPUNG_NUMBER = cart.COUPUNG_NUMBER
		JOIN PRODUCT_IMAGES image ON cart.coupung_number = image.coupung_number
		JOIN COUPUNG_OPTIONS option ON cart.coupung_option_number = option.coupung_option_number
		WHERE cart.CLIENT_ID = #{clientId}
        and image.type=0
	</select>


	<select id="getQuantity" parameterType="carts"
		resultType="carts">
		SELECT *
		FROM CARTS
		WHERE CLIENT_ID = #{clientId}
		AND
		COUPUNG_NUMBER= #{coupungNumber}
		AND
		COUPUNG_OPTION_NUMBER = #{coupungOptionNumber}
	</select>

	<select id="updateQuantity" parameterType="carts"
		resultType="carts">
		update CARTS
		set QUANTITY = #{quantity}
		where CART_NUMBER = #{cartNumber}
	</select>


	<insert id="insertCart" parameterType="carts">
		INSERT INTO
		CARTS(COUPUNG_NUMBER,
		CLIENT_ID, COUPUNG_OPTION_NUMBER, QUANTITY)
		VALUES(#{coupungNumber},
		#{clientId}, #{coupungOptionNumber}, #{quantity})
	</insert>



	<select id="updateCart" parameterType="carts" resultType="carts">
		UPDATE CARTS
		SET QUANTITY =
		#{quantity}
		WHERE CLIENT_ID = #{clientId}
		AND COUPUNG_NUMBER =
		#{coupungNumber}
	</select>

	<select id="deleteCart" parameterType="carts" resultType="carts">
		DELETE CARTS FROM CARTS
		WHERE CLIENT_ID = #{clientId}
		AND COUPUNG_NUMBER = #{coupungNumber}
		AND COUPUNG_OPTION_NUMBER = #{coupungOptionNumber}
	</select>

</mapper>