<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ounwan.community">

	<select id="gramWholeBoard" parameterType="map" resultType="gram">
		SELECT BOARD.*, IFNULL(LIKES_TABLE.LIKES, 0) AS LIKES, CLIENTS.PROFILE_URL 
		FROM (SELECT * FROM OUNWAN_COMMUNITY WHERE VISIBILITY = 0 
		AND COMMUNITY_NUMBER NOT IN (SELECT COMMUNITY_NUMBER FROM COMMUNITY_REPORTS 
		WHERE COMMUNITY_NUMBER IS NOT NULL AND CLIENT_ID = #{clientId}) 
		ORDER BY CREATED_DATE DESC LIMIT 5 OFFSET #{rowNum}) AS BOARD 
		LEFT OUTER JOIN CLIENTS ON BOARD.CLIENT_ID = CLIENTS.CLIENT_ID 
		LEFT OUTER JOIN (SELECT COMMUNITY_NUMBER, COUNT(*) AS LIKES FROM OUNWAN_LIKES GROUP BY COMMUNITY_NUMBER) AS LIKES_TABLE 
		ON BOARD.COMMUNITY_NUMBER = LIKES_TABLE.COMMUNITY_NUMBER ORDER BY CREATED_DATE DESC
	</select>
	
	<select id="selectLikeBoards" parameterType="String" resultType="int">
		SELECT COMMUNITY_NUMBER FROM OUNWAN_LIKES WHERE CLIENT_ID = #{clientId}
	</select>
	
	<select id="selectOneBoard" parameterType="int" resultType="gram">
		SELECT * FROM (SELECT OUNWAN_COMMUNITY.*, IFNULL(LIKES, 0) AS LIKES FROM OUNWAN_COMMUNITY 
		LEFT OUTER JOIN (SELECT COMMUNITY_NUMBER, COUNT(*) AS LIKES FROM OUNWAN_LIKES GROUP BY COMMUNITY_NUMBER) AS LIKES_TABLE 
		ON OUNWAN_COMMUNITY.COMMUNITY_NUMBER = LIKES_TABLE.COMMUNITY_NUMBER WHERE VISIBILITY = 0) AS BOARD WHERE COMMUNITY_NUMBER = #{communityNumber}
	</select>
	
	<select id="gramFollowBoard" parameterType="map" resultType="gram">
		SELECT BOARD.*, IFNULL(LIKES_TABLE.LIKES, 0) AS LIKES, CLIENTS.PROFILE_URL 
		FROM (SELECT OUNWAN_COMMUNITY.* FROM OUNWAN_COMMUNITY 
		INNER JOIN (SELECT CLIENT_ID FROM FOLLOWERS WHERE FOLLOWER_ID = #{clientId}) AS FOLLOW_TABLE 
		ON OUNWAN_COMMUNITY.CLIENT_ID = FOLLOW_TABLE.CLIENT_ID WHERE COMMUNITY_NUMBER NOT IN 
		(SELECT COMMUNITY_NUMBER FROM COMMUNITY_REPORTS WHERE COMMUNITY_NUMBER IS NOT NULL AND CLIENT_ID = #{clientId}) 
		ORDER BY CREATED_DATE LIMIT 5 OFFSET #{rowNum}) AS BOARD 
		LEFT OUTER JOIN CLIENTS ON BOARD.CLIENT_ID = CLIENTS.CLIENT_ID LEFT OUTER JOIN (SELECT COMMUNITY_NUMBER, COUNT(*) AS LIKES 
		FROM OUNWAN_LIKES GROUP BY COMMUNITY_NUMBER) AS LIKES_TABLE ON BOARD.COMMUNITY_NUMBER = LIKES_TABLE.COMMUNITY_NUMBER WHERE VISIBILITY = 0
	</select>
	
	<select id="selectHashTagsByNumber" parameterType="int" resultType="String">
		SELECT HASH_TAGS.NAME FROM OUNWAN_DETAILS 
		LEFT OUTER JOIN HASH_TAGS ON OUNWAN_DETAILS.HASH_TAG_NUMBER = HASH_TAGS.HASH_TAG_NUMBER WHERE COMMUNITY_NUMBER = #{communityNumber}
	</select>
	
	<select id="selectBoardByCommunityNum" parameterType="int" resultType="gram">
		SELECT * FROM OUNWAN_COMMUNITY WHERE COMMUNITY_NUMBER = #{communityNumber} AND VISIBILITY = 0
	</select>
	
	<select id="searchGramClientId" parameterType="String" resultType="map">
		(SELECT CLIENTS.CLIENT_ID, CLIENTS.PROFILE_URL, IFNULL(FOLLOW.COUNT, 0) AS FOLLOWER 
		FROM (SELECT CLIENT_ID, PROFILE_URL FROM CLIENTS WHERE CLIENT_ID = #{keyword}) AS CLIENTS 
		LEFT OUTER JOIN (SELECT CLIENT_ID, COUNT(*) AS COUNT FROM FOLLOWERS GROUP BY CLIENT_ID) 
		AS FOLLOW ON CLIENTS.CLIENT_ID = FOLLOW.CLIENT_ID)
		UNION DISTINCT
		(SELECT * FROM (SELECT CLIENTS.CLIENT_ID, CLIENTS.PROFILE_URL, IFNULL(FOLLOW.COUNT, 0) AS FOLLOWER 
		FROM (SELECT CLIENT_ID, PROFILE_URL FROM CLIENTS WHERE CLIENT_ID LIKE CONCAT('%', #{keyword}, '%')) AS CLIENTS 
		LEFT OUTER JOIN (SELECT CLIENT_ID, COUNT(*) AS COUNT FROM FOLLOWERS GROUP BY CLIENT_ID) 
		AS FOLLOW ON CLIENTS.CLIENT_ID = FOLLOW.CLIENT_ID) AS CLIENTS ORDER BY FOLLOWER DESC) LIMIT 10
	</select>
	
	<select id="searchHashTag" parameterType="String" resultType="map">
		SELECT HASH_TAGS.*, IFNULL(OUNWAN_DETAILS.CNT, 0) AS COUNT 
		FROM (SELECT * FROM HASH_TAGS WHERE NAME = #{keyword}) AS HASH_TAGS
		LEFT OUTER JOIN (SELECT HASH_TAG_NUMBER, COUNT(*) AS CNT FROM OUNWAN_DETAILS 
		INNER JOIN OUNWAN_COMMUNITY ON OUNWAN_DETAILS.COMMUNITY_NUMBER = OUNWAN_COMMUNITY.COMMUNITY_NUMBER 
		WHERE VISIBILITY = 0 GROUP BY HASH_TAG_NUMBER) AS OUNWAN_DETAILS
		ON HASH_TAGS.HASH_TAG_NUMBER = OUNWAN_DETAILS.HASH_TAG_NUMBER
	</select>
	
	<select id="getUserProfileInfo" parameterType="String" resultType="map">
		SELECT CLIENTS.CLIENT_ID, CLIENTS.PROFILE_URL, IFNULL(FOLLOW.FOLLOWING, 0) AS FOLLOWING, 
		IFNULL(FOLLOWER.FOLLOWERCOUNT, 0) AS FOLLOWER, IFNULL(POST_TABLE.POSTS, 0) AS POSTS 
		FROM (SELECT * FROM CLIENTS WHERE CLIENT_ID = #{profileId}) AS CLIENTS 
		LEFT JOIN (SELECT FOLLOWER_ID, COUNT(*) AS FOLLOWING FROM FOLLOWERS GROUP BY FOLLOWER_ID) AS FOLLOW 
		ON CLIENTS.CLIENT_ID = FOLLOW.FOLLOWER_ID LEFT JOIN (SELECT CLIENT_ID, COUNT(*) AS FOLLOWERCOUNT 
		FROM FOLLOWERS GROUP BY CLIENT_ID) AS FOLLOWER ON CLIENTS.CLIENT_ID = FOLLOWER.CLIENT_ID 
		LEFT JOIN (SELECT CLIENT_ID, COUNT(*) AS POSTS FROM OUNWAN_COMMUNITY WHERE VISIBILITY = 0 GROUP BY CLIENT_ID) AS POST_TABLE 
		ON CLIENTS.CLIENT_ID = POST_TABLE.CLIENT_ID
	</select>
	
	<select id="getProfileBoard" parameterType="map" resultType="map">
		SELECT COMMUNITY_NUMBER, IMAGE_URL FROM OUNWAN_COMMUNITY 
		WHERE CLIENT_ID = #{profileId} AND VISIBILITY = 0 AND COMMUNITY_NUMBER NOT IN 
		(SELECT COMMUNITY_NUMBER FROM COMMUNITY_REPORTS WHERE COMMUNITY_NUMBER IS NOT NULL AND CLIENT_ID = #{clientId})
	</select>
	
	<select id="checkFollow" parameterType="map" resultType="int">
		SELECT COUNT(*) AS FOLLOW_CHECK FROM FOLLOWERS WHERE CLIENT_ID = #{profileId} AND FOLLOWER_ID = #{clientId}
	</select>
	
	<select id="selectBoardsByTag" parameterType="map" resultType="gram">
		SELECT BOARD.*, IFNULL(LIKE_TABLE.LIKES, 0) AS LIKES 
		FROM (SELECT BOARD.*, CLIENTS.PROFILE_URL FROM (SELECT * FROM (SELECT * FROM (SELECT OUNWAN_COMMUNITY.* 
		FROM (SELECT OUNWAN_DETAILS.COMMUNITY_NUMBER FROM OUNWAN_DETAILS 
		INNER JOIN (SELECT * FROM HASH_TAGS WHERE NAME = #{name}) AS HASH_TAGS 
		ON OUNWAN_DETAILS.HASH_TAG_NUMBER = HASH_TAGS.HASH_TAG_NUMBER) AS TAGS 
		LEFT JOIN OUNWAN_COMMUNITY ON TAGS.COMMUNITY_NUMBER = OUNWAN_COMMUNITY.COMMUNITY_NUMBER) AS OUNWAN_COMMUNITY 
		WHERE VISIBILITY = 0 ORDER BY CREATED_DATE DESC) AS OUNWANGRAM LIMIT 5 OFFSET #{rowNum}) AS BOARD LEFT JOIN CLIENTS 
		ON BOARD.CLIENT_ID = CLIENTS.CLIENT_ID) AS BOARD LEFT JOIN (SELECT COMMUNITY_NUMBER, COUNT(*) AS LIKES 
		FROM OUNWAN_LIKES GROUP BY COMMUNITY_NUMBER) AS LIKE_TABLE ON BOARD.COMMUNITY_NUMBER = LIKE_TABLE.COMMUNITY_NUMBER ORDER BY CREATED_DATE DESC
	</select>
	
	<select id="selectMyInbody" parameterType="String" resultType="inbody">
		SELECT * FROM INBODY WHERE CLIENT_ID = #{clientId} ORDER BY UPDATED_DATE DESC LIMIT 7
	</select>
	
	<select id="selectFollowerList" parameterType="map" resultType="map">
		SELECT FOLLOWER_ID, PROFILE_URL, IFNULL(CNT, 2) AS FOLLOW_CHECK 
		FROM (SELECT * FROM FOLLOWERS WHERE CLIENT_ID = #{profileId}) AS FOLLOWERS 
		LEFT JOIN CLIENTS ON FOLLOWERS.FOLLOWER_ID = CLIENTS.CLIENT_ID 
		LEFT JOIN (SELECT CLIENT_ID, COUNT(*) AS CNT FROM FOLLOWERS WHERE FOLLOWER_ID = #{clientId}) AS FOLLOW_CHECK 
		ON FOLLOWERS.FOLLOWER_ID = FOLLOW_CHECK.CLIENT_ID WHERE FOLLOWER_ID = #{clientId}
		UNION
		SELECT FOLLOWER_ID, PROFILE_URL, IFNULL(CNT, 0) AS FOLLOW_CHECK 
		FROM (SELECT * FROM FOLLOWERS WHERE CLIENT_ID = #{profileId}) AS FOLLOWERS 
		LEFT JOIN CLIENTS ON FOLLOWERS.FOLLOWER_ID = CLIENTS.CLIENT_ID 
		LEFT JOIN (SELECT CLIENT_ID, COUNT(*) AS CNT FROM FOLLOWERS WHERE FOLLOWER_ID = #{clientId}) AS FOLLOW_CHECK 
		ON FOLLOWERS.FOLLOWER_ID = FOLLOW_CHECK.CLIENT_ID WHERE FOLLOWER_ID != #{clientId} ORDER BY FOLLOW_CHECK DESC
	</select>
	
	<insert id="insertgGramLikeBoard" parameterType="gramLikes">
		INSERT INTO OUNWAN_LIKES VALUES (#{likesId}, #{communityNumber}, #{clientId})
	</insert>
	
	<insert id="insertGramBoard" parameterType="gram">
		<selectKey keyColumn="COMMUNITY_NUMBER" keyProperty="communityNumber" order="AFTER" resultType="int">
			SELECT COMMUNITY_NUMBER FROM OUNWAN_COMMUNITY WHERE CLIENT_ID = #{clientId} AND IMAGE_URL = #{imageUrl}
		</selectKey>
	
		INSERT INTO OUNWAN_COMMUNITY(CLIENT_ID, CONTENTS, CREATED_DATE, IMAGE_URL) VALUES (#{clientId}, #{contents}, NOW(), #{imageUrl})
	</insert>
	
	<insert id="insertHashTagName" parameterType="String">
		INSERT INTO HASH_TAGS(NAME) SELECT #{name} FROM DUAL WHERE NOT EXISTS(SELECT * FROM HASH_TAGS WHERE NAME = #{name})
	</insert>
	
	<insert id="addHashTag" parameterType="map">
		INSERT INTO OUNWAN_DETAILS(COMMUNITY_NUMBER, HASH_TAG_NUMBER) 
		VALUES(#{communityNumber}, (SELECT HASH_TAG_NUMBER FROM HASH_TAGS WHERE NAME = #{name}))
	</insert>
	
	<insert id="reportGramBoard" parameterType="map">
		INSERT INTO COMMUNITY_REPORTS(COMMUNITY_NUMBER, CLIENT_ID, REGISTERED_DATE, REASON) VALUES(#{communityNumber}, #{clientId}, NOW(), #{reason})
	</insert>
	
	<insert id="insertInbody" parameterType="inbody">
		INSERT INTO INBODY(CLIENT_ID, HEIGHT, WEIGHT, SKELETAL_MUSCLES_MASS, BODY_WATER, BMR, BMI, INBODY_SCORE, UPDATED_DATE) 
		VALUES(#{clientId}, #{height}, #{weight}, #{skeletalMusclesMass}, #{bodyWater}, #{bmr}, #{bmi}, #{inbodyScore}, #{updatedDate})
	</insert>
	
	<delete id="deleteGramLikeBoard" parameterType="String">
		DELETE FROM OUNWAN_LIKES WHERE LIKES_ID = #{likesId}
	</delete>
	
	<delete id="deleteHashTag" parameterType="map">
		DELETE FROM OUNWAN_DETAILS WHERE HASH_TAG_NUMBER = (SELECT HASH_TAG_NUMBER FROM HASH_TAGS WHERE NAME = #{name}) AND COMMUNITY_NUMBER = #{communityNumber}
	</delete>
	
	<delete id="deleteGramBoard" parameterType="int">
		DELETE FROM OUNWAN_COMMUNITY WHERE COMMUNITY_NUMBER = #{communityNumber}
	</delete>
	
	<update id="updateGramBoard" parameterType="gram">
		UPDATE OUNWAN_COMMUNITY SET CONTENTS = #{contents}, UPDATED_DATE = NOW(), IMAGE_URL = #{imageUrl} WHERE COMMUNITY_NUMBER = #{communityNumber}
	</update>
	
	<update id="updateInbody" parameterType="inbody">
		UPDATE INBODY SET HEIGHT = #{height}, WEIGHT = #{weight}, SKELETAL_MUSCLES_MASS = #{skeletalMusclesMass}, 
		BODY_WATER = #{bodyWater}, BMR = #{bmr}, BMI = #{bmi}, INBODY_SCORE = #{inbodyScore} 
		WHERE INBODY_NUMBER = #{inbodyNumber} AND CLIENT_ID = #{clientId}
	</update>

</mapper>