<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ounwan.community">

	<select id="gramWholeBoard" parameterType="int" resultType="gram">
		SELECT BOARD.*, IFNULL(LIKES_TABLE.LIKES, 0) AS LIKES, CLIENTS.PROFILE_URL 
		FROM (SELECT * FROM OUNWAN_COMMUNITY ORDER BY CREATED_DATE LIMIT 5 OFFSET #{rowNum}) AS BOARD 
		LEFT OUTER JOIN CLIENTS ON BOARD.CLIENT_ID = CLIENTS.CLIENT_ID 
		LEFT OUTER JOIN (SELECT COMMUNITY_NUMBER, COUNT(*) AS LIKES FROM OUNWAN_LIKES GROUP BY COMMUNITY_NUMBER) AS LIKES_TABLE 
		ON BOARD.COMMUNITY_NUMBER = LIKES_TABLE.COMMUNITY_NUMBER
	</select>
	
	<select id="selectLikeBoards" parameterType="String" resultType="int">
		SELECT COMMUNITY_NUMBER FROM OUNWAN_LIKES WHERE CLIENT_ID = #{clientId}
	</select>
	
	<select id="selectOneBoard" parameterType="int" resultType="gram">
		SELECT * FROM (SELECT OUNWAN_COMMUNITY.*, IFNULL(LIKES, 0) AS LIKES FROM OUNWAN_COMMUNITY 
		LEFT OUTER JOIN (SELECT COMMUNITY_NUMBER, COUNT(*) AS LIKES FROM OUNWAN_LIKES GROUP BY COMMUNITY_NUMBER) AS LIKES_TABLE 
		ON OUNWAN_COMMUNITY.COMMUNITY_NUMBER = LIKES_TABLE.COMMUNITY_NUMBER) AS BOARD WHERE COMMUNITY_NUMBER = #{communityNumber}
	</select>
	
	<select id="gramFollowBoard" parameterType="map" resultType="gram">
		SELECT BOARD.*, IFNULL(LIKES_TABLE.LIKES, 0) AS LIKES, CLIENTS.PROFILE_URL 
		FROM (SELECT OUNWAN_COMMUNITY.* FROM OUNWAN_COMMUNITY 
		INNER JOIN (SELECT CLIENT_ID FROM FOLLOWERS WHERE FOLLOWER_ID = #{clientId}) AS FOLLOW_TABLE 
		ON OUNWAN_COMMUNITY.CLIENT_ID = FOLLOW_TABLE.CLIENT_ID ORDER BY CREATED_DATE LIMIT 5 OFFSET #{rowNum}) AS BOARD 
		LEFT OUTER JOIN CLIENTS ON BOARD.CLIENT_ID = CLIENTS.CLIENT_ID LEFT OUTER JOIN (SELECT COMMUNITY_NUMBER, COUNT(*) AS LIKES 
		FROM OUNWAN_LIKES GROUP BY COMMUNITY_NUMBER) AS LIKES_TABLE ON BOARD.COMMUNITY_NUMBER = LIKES_TABLE.COMMUNITY_NUMBER
	</select>
	
	<insert id="insertgGramLikeBoard" parameterType="gramLikes">
		INSERT INTO OUNWAN_LIKES VALUES (#{likesId}, #{communityNumber}, #{clientId})
	</insert>
	
	<insert id="insertGramBoard" parameterType="gram">
		INSERT INTO OUNWAN_COMMUNITY(CLIENT_ID, CONTENTS, CREATED_DATE, IMAGE_URL) VALUES (#{clientId}, #{contents}, NOW(), #{imageUrl})
	</insert>
	
	<delete id="deleteGramLikeBoard" parameterType="String">
		DELETE FROM OUNWAN_LIKES WHERE LIKES_ID = #{likesId}
	</delete>

</mapper>