<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ounwan.coupung">
    <select id="selectAll" resultType="coupung">
    	SELECT * FROM COUPUNG WHERE AVAILABLE_CHECK = 1
    </select>
    
    <select id="selectAdminAll" parameterType="map" resultType="coupung">
    	SELECT COUPUNG.*, IFNULL(ORDER_DETAILS.SALES_RATE, 0) AS SALES_RATE 
    	FROM COUPUNG LEFT JOIN (SELECT COUPUNG_NUMBER, SUM(QUANTITY) AS SALES_RATE FROM ORDER_DETAILS GROUP BY COUPUNG_NUMBER) AS ORDER_DETAILS 
    	ON COUPUNG.COUPUNG_NUMBER = ORDER_DETAILS.COUPUNG_NUMBER
    	<if test='searchOption == "name"'>
    		WHERE NAME LIKE CONCAT('%', #{searchValue}, '%') 
    	</if>
    	<if test='searchOption == "category"'>
    		WHERE COUPUNG_CATEGORY_NUMBER = #{searchValue} 
    	</if>
    	<if test='searchOption == "availableCheck"'>
    		WHERE AVAILABLE_CHECK = #{searchValue} 
    	</if>
    	<if test='sortOption == "name"'>
			ORDER BY NAME 
		</if>
		<if test='sortOption == "price"'>
			ORDER BY PRICE
		</if>
		<if test='sortOption == "salesRate"'>
			ORDER BY SALES_RATE DESC
		</if>
    	LIMIT 20 OFFSET #{offset}
    </select>
    
    <select id="selectAllCategories" resultType="map">
    	SELECT * FROM COUPUNG_CATEGORIES
    </select>
    
    <select id="selectProductCategory" parameterType="int" resultType="String">
    	SELECT NAME FROM COUPUNG_CATEGORIES WHERE COUPUNG_CATEGORY_NUMBER = #{categoryId}
    </select>
    
    <select id="selectProductCount" parameterType="map" resultType="int">
    	SELECT COUNT(*) FROM COUPUNG
    	<if test='searchOption == "name"'>
    		WHERE NAME LIKE CONCAT('%', #{searchValue}, '%') 
    	</if>
    	<if test='searchOption == "category"'>
    		WHERE COUPUNG_CATEGORY_NUMBER = #{searchValue} 
    	</if>
    	<if test='searchOption == "availableCheck"'>
    		WHERE AVAILABLE_CHECK = #{searchValue} 
    	</if>
    </select>
    
    <select id="selectById" parameterType="int" resultType="coupung">
    	SELECT * FROM COUPUNG WHERE COUPUNG_CATEGORY_NUMBER = #{categoryId} AND AVAILABLE_CHECK = 1
    </select>
    
    <select id="selectDetail" parameterType="int" resultType="coupung">
    	SELECT * FROM COUPUNG WHERE COUPUNG_NUMBER = #{coupungId}
    </select>
    
    <select id="selectHotDeals" resultType="coupung">
    	SELECT * FROM COUPUNG WHERE COUPUNG_CATEGORY_NUMBER = 9
    </select>
    
    <select id="findByName" parameterType="String" resultType="coupung">
    	SELECT * FROM COUPUNG WHERE NAME LIKE CONCAT('%', #{text}, '%')
    </select>
    
    <insert id="insertProduct" parameterType="coupung" useGeneratedKeys="true" keyProperty="coupungNumber">
    	INSERT 
    	INTO COUPUNG (COUPUNG_CATEGORY_NUMBER, NAME, PRICE, AVAILABLE_STOCK, AVAILABLE_CHECK)
    	VALUES (#{coupungCategoryNumber}, #{name}, #{price}, #{availableStock}, TRUE)
    </insert>
    
    <update id="updateProduct" parameterType="coupung">
    	UPDATE COUPUNG
    	SET NAME = #{name}
    		, PRICE = #{price}
    		, AVAILABLE_STOCK = #{availableStock}
    	WHERE COUPUNG_NUMBER = #{coupungNumber}
    </update>
    
    <update id="updateProductSales" parameterType="coupung">
    	UPDATE COUPUNG
    	SET AVAILABLE_CHECK = #{availableCheck}
    	WHERE COUPUNG_NUMBER = #{coupungNumber}
    </update>
    
    <select id="getPrice" parameterType="int" resultType="int">
    	SELECT PRICE FROM COUPUNG 
    	WHERE COUPUNG_NUMBER = #{coupungNumber}
    </select>

	<select id="selectReview" parameterType="int" resultType="map">
		SELECT
		O.CLIENT_ID,
		R.SCORE,
		R.CONTENTS,
		R.IMAGE_URL,
		C.PROFILE_URL,
		CO.NAME AS
		COUPUNG_OPTION_NAME
		FROM
		ORDERS O
		JOIN
		ORDER_DETAILS OD ON O.ORDER_NUMBER
		= OD.ORDER_NUMBER
		JOIN
		REVIEWS R ON OD.ORDER_DETAIL_NUMBER =
		R.ORDER_DETAIL_NUMBER
		JOIN
		CLIENTS C ON O.CLIENT_ID = C.CLIENT_ID
		JOIN
		COUPUNG_OPTIONS CO ON OD.COUPUNG_OPTION_NUMBER =
		CO.COUPUNG_OPTION_NUMBER
		WHERE
		OD.COUPUNG_NUMBER = #{coupungNumber}
	</select>

	<select id="getScoreList" parameterType="map" resultType="int">
		SELECT
		COUNT(*) AS review_count
		FROM REVIEWS
		WHERE ORDER_DETAIL_NUMBER IN (
		SELECT ORDER_DETAIL_NUMBER
		FROM ORDER_DETAILS
		WHERE COUPUNG_NUMBER = #{coupungNumber}
		)
		AND SCORE = #{score};
	</select>
	
	<select id="getAvailableStock" parameterType="int" resultType="int">
		SELECT AVAILABLE_STOCK
		FROM COUPUNG
		WHERE COUPUNG_NUMBER = #{coupungNumber}
	</select>
	
	<update id="updateAvailableStock" parameterType="coupung">
		UPDATE COUPUNG 
		SET AVAILABLE_STOCK = #{availableStock}
			, AVAILABLE_CHECK = #{availableCheck} 
		WHERE COUPUNG_NUMBER = #{coupungNumber}
	</update>
	
</mapper>