<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ounwan.coupungOption"> 
    <select id="selectOptions" parameterType="int" resultType="coupungOptions">
    	SELECT * FROM COUPUNG_OPTIONS WHERE COUPUNG_NUMBER = #{coupungNumber}
    </select>
    
    <select id="getOptionByOptionId" parameterType="int" resultType="coupungOptions">
    	SELECT * FROM COUPUNG_OPTIONS WHERE COUPUNG_OPTION_NUMBER = #{coupungOptionNumber}
    </select>
    
    <insert id="insertOption" parameterType="coupungOptions">
    	INSERT INTO COUPUNG_OPTIONS(COUPUNG_NUMBER, NAME) VALUES (#{coupungNumber}, #{name})
    </insert>
</mapper>