<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ounwan.danggun">
	<!-- 전체 상품 - 정보 출력 -->
	<select id="selectAll" resultType="danggun">
		SELECT * FROM DANGGUN WHERE VISIBILITY = 1 ORDER BY danggun_Number desc
	</select>
	
	<!-- 전체 상품 - 이미지 출력 -->
	<select id="selectAllImage" parameterType="int" resultType="productImages">
		select * from PRODUCT_IMAGES where DANGGUN_NUMBER = #{danggunNumber} and TYPE=0;
	</select>

	<!-- 당군 거래 상세 정보 출력 -->
	<select id="selectDanggun" parameterType="int"
		resultType="danggun">
		SELECT * from DANGGUN
		where DANGGUN_NUMBER =
		#{danggun_number}
	</select>
	
	<!-- 당군 상품 검색 -->
	<select id="searchProduct" parameterType="String" resultType="danggun">
		SELECT * FROM DANGGUN WHERE product_Name like CONCAT('%',#{name},'%') order by danggun_Number desc
	</select>
	
	<!-- 당군 상품 추가 -->
	<insert id="danggunInsert" parameterType="danggun">
		<selectKey keyColumn="DANGGUN_NUMBER" keyProperty="danggunNumber" order="AFTER" resultType="int">
			select DANGGUN_NUMBER from DANGGUN where 
			CLIENT_ID=#{clientId} order by DANGGUN_NUMBER desc limit 1
		</selectKey>
		insert into DANGGUN (`TRADE_HISTORY_NUMBER`, `CLIENT_ID`, `PRODUCT_NAME`,`PRICE`, `DETAIL`, `UPLOAD_DATE`) 
		VALUES (6, #{clientId}, #{productName}, #{price}, #{detail}, now())		
	</insert>
	
	<!-- 당군 상품 - 이미지 추가 -->
	<insert id="imageInsert" parameterType="productImages">
		insert into PRODUCT_IMAGES (`DANGGUN_NUMBER`, `URL`, `TYPE`)
		VALUES (#{danggunNumber}, #{url}, #{type})
	</insert>
	
	<!-- 상세 - 이미지 가져오기 -->
	<select id="selectImages" parameterType="int"
		resultType="productImages">
		SELECT * from PRODUCT_IMAGES where
		DANGGUN_NUMBER =
		#{danggunNumber} order by PRODUCT_IMAGE_NUMBER asc
	</select>

	<!-- 거래 현황 정보 뽑아오기 -->
	<select id="selectTradeStep" parameterType="int"
		resultType="String">
		SELECT TRADE_STEP from
		TRADE_HISTORY where
		TRADE_HISTORY_NUMBER = #{tradeHistoryNumber}
	</select>

	<!-- 당군 게시물 삭제 -->
	<delete id="deleteDanggun" parameterType="danggun">
		DELETE FROM DANGGUN
		WHERE DANGGUN_NUMBER = #{danggunNumber} AND CLIENT_ID = #{clientId}
	</delete>

	<!-- 게시물 수정 -->
	<update id="updateDanggun" parameterType="danggun">
	 	UPDATE DANGGUN 
	 	SET TRADE_HISTORY_NUMBER = #{tradeHistoryNumber}, PRODUCT_NAME = #{productName}, PRICE = #{price}, DETAIL = #{detail}
	 	WHERE DANGGUN_NUMBER = #{danggunNumber} AND CLIENT_ID = #{clientId}
	 </update>

	<!-- 사진 수정 -->
	<update id="updateDanggunImages" parameterType="productImages">
		UPDATE PRODUCT_IMAGES
		SET URL = #{url}
		WHERE PRODUCT_IMAGE_NUMBER = #{productImageNumber}
	</update>
	<!-- 
	<update id="updateDanggunImages" parameterType="map">
		UPDATE PRODUCT_IMAGES
		SET URL = #{url}
		WHERE PRODUCT_IMAGE_NUMBER = #{productImageNumber}
	</update> -->
	
	<!-- 거래 수정시 사진 삽입 -->
	<insert id="insertNewDetailImages" parameterType="productImages">
		INSERT INTO
		PRODUCT_IMAGES (DANGGUN_NUMBER, URL, TYPE)
		VALUES (#{danggunNumber}, #{url}, 1)
	</insert>
	
	<!-- <insert id="insertNewDetailImages" parameterType="map">
		INSERT INTO
		PRODUCT_IMAGES (DANGGUN_NUMBER, URL, TYPE)
		VALUES (#{danggunNumber}, #{url}, 1)
	</insert> -->

	<!-- 찜 개수 -->
	<select id="selectCountZzim" parameterType="int"
		resultType="int">
		SELECT count(*) from WISH_LISTS where DANGGUN_NUMBER =
		#{danggunNumber}
	</select>
	
	<!-- 해당 찜이 존재하는지 여부 -->
	<select id="hasZzim" parameterType="String" resultType="int">
		SELECT DANGGUN_NUMBER FROM WISH_LISTS WHERE CLIENT_ID = #{clientId}
	</select>
	
	<!-- 찜 +1 -->
	<insert id="plusZzim" parameterType="wishlists">
		INSERT INTO
		WISH_LISTS (DANGGUN_NUMBER, CLIENT_ID)
		VALUES (#{danggunNumber}, #{clientId})
	</insert>
	
	<!-- 찜 -1 -->
	<delete id="minusZzim" parameterType="wishlists">
		DELETE FROM WISH_LISTS WHERE CLIENT_ID = #{clientId} AND DANGGUN_NUMBER = #{danggunNumber}
	</delete>
	
	<!-- 신고 -->
	<insert id="insertReport">
		INSERT INTO STORE_REPORTS (DANGGUN_NUMBER, CLIENT_ID, REGISTERED_DATE, REASON)
		VALUES
		(#{danggunNumber}, #{clientId}, now(), #{reason})
	</insert>
	
	<!-- 신고 개수 세기 -->
	<select id="countReport" parameterType="int" resultType="int">
		SELECT COUNT(*)
		FROM STORE_REPORTS
		WHERE DANGGUN_NUMBER = #{danggunNumber}
	</select>
	
	<select id="confirmReport" parameterType="storeReports" resultType="int">
		SELECT COUNT(*) 
		FROM STORE_REPORTS
		WHERE DANGGUN_NUMBER = #{danggunNumber} AND CLIENT_ID = #{clientId}
	</select>
	
	<!-- visibility 변경 -->
	<update id="updateReport">
		UPDATE DANGGUN
		SET VISIBILITY = 0
		WHERE DANGGUN_NUMBER = #{danggunNumber}
	</update>
	
	<select id="getTopFiveDanggun" resultType="danggun">
		SELECT *
		FROM DANGGUN d 
		ORDER BY upload_date DESC
		LIMIT 5;
	</select>
	
	<select id="getMainImage" parameterType="int" resultType="String">
		SELECT URL FROM PRODUCT_IMAGES
		WHERE TYPE = 0 AND DANGGUN_NUMBER = #{danggunNumber}
	</select>
	
	<select id="getDanggunReportList" resultType="danggun">
		SELECT * FROM DANGGUN WHERE VISIBILITY = 0
	</select>
	
	<update id="restoreDanggun">
		UPDATE DANGGUN
		SET VISIBILITY = 1
		WHERE DANGGUN_NUMBER = #{danggunNumber}
	</update>
	
</mapper>
