<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ounwan.danggunChat">
	<!-- 해당 채팅 내역 가져오기 -->
	<select id="selectDanggunChatList" resultType="danggunChatMessage">
		SELECT * FROM DANGGUN_CHAT_MESSAGE WHERE ROOM_ID = #{roomId}
	</select>
	<!-- 방 여부 확인 -->
	<select id="selectRoomList" resultType="string">
		SELECT ROOM_ID FROM DANGGUN_CHAT_ROOM
	</select>
	
	<insert id="makeRoom" parameterType="danggunChatRoom">
		insert into DANGGUN_CHAT_ROOM
		value(#{roomId}, #{danggunNumber}, #{seller}, #{buyer})
	</insert>
	
	<insert id="insertMessage">
		insert into DANGGUN_CHAT_MESSAGE (ROOM_ID, SENDER, MESSAGE)
		VALUES (#{roomId}, #{sender}, #{message})
	</insert>
	
	<delete id="deleteMessage">
		DELETE FROM DANGGUN_CHAT_MESSAGE WHERE MESSAGE_ID = #{messageId}
	</delete>
	
	<select id="lastMessageId" resultType="int">
 		select max(message_id) from DANGGUN_CHAT_MESSAGE where ROOM_ID = #{roomId}
 	</select>
	
</mapper>
