<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ounwan.orderDetail">
    <insert id="setOrder" parameterType="orderDetails">
    	INSERT INTO
    	ORDER_DETAILS (ORDER_NUMBER, COUPUNG_NUMBER, COUPUNG_OPTION_NUMBER, PRICE, QUANTITY, REVIEW_CHECK)
    	VALUES (#{orderNumber}, #{coupungNumber}, #{coupungOptionNumber}, #{price}, #{quantity}, 0)
    </insert>
    
    <select id="getSalesRate" parameterType="int" resultType="int">
    	SELECT IFNULL(SUM(QUANTITY), 0) FROM ORDER_DETAILS WHERE COUPUNG_NUMBER = #{coupungNumber}
    </select>
    
    <select id="getTopFive" resultType="int">
    	SELECT COUPUNG_NUMBER 
    	FROM ORDER_DETAILS 
    	GROUP BY COUPUNG_NUMBER 
    	ORDER BY SUM(QUANTITY) DESC
    	LIMIT 5
    </select>
    
    <select id="getOrderDetails" parameterType="String" resultType="orderDetails">
    	SELECT * FROM ORDER_DETAILS WHERE ORDER_NUMBER = #{orderNumber}
    </select>
    
    <select id="getAdminOrders" parameterType="int" resultType="map">
    	SELECT ORDER_NUMBER, IFNULL(CLIENT_ID, GUEST_NUMBER) AS CLIENT, ORDER_DATE, TOTAL_PRICE, TRADE_STEP 
    	FROM ORDERS LEFT JOIN TRADE_HISTORY ON ORDERS.TRADE_HISTORY_NUMBER = TRADE_HISTORY.TRADE_HISTORY_NUMBER
    	ORDER BY ORDERS.TRADE_HISTORY_NUMBER, ORDER_DATE LIMIT 20 OFFSET #{offset}
    </select>
    
    <select id="getTradeStep" resultType="map">
    	SELECT * FROM TRADE_HISTORY WHERE <![CDATA[ TRADE_HISTORY_NUMBER <= 5 ]]>
    </select>
    
    <select id="countOrders" resultType="int">
    	SELECT COUNT(*) FROM ORDERS WHERE <![CDATA[ TRADE_HISTORY_NUMBER <= 5 ]]>
    </select>
    
    <update id="updateTradeStep" parameterType="map">
    	UPDATE ORDERS SET TRADE_HISTORY_NUMBER = #{tradeStep} WHERE ORDER_NUMBER = #{orderNumber}
    </update>
</mapper>