<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ounwan.productImage">
    <select id="selectProductImageByCoupungId" parameterType="int" resultType="productImages">
    	SELECT * FROM PRODUCT_IMAGES WHERE COUPUNG_NUMBER = #{coupungNumber} AND (TYPE = 0 OR TYPE = 1) ORDER BY TYPE
    </select>
    
    <select id="selectDetailImageByCoupungId" parameterType="int" resultType="productImages">
    	SELECT * FROM PRODUCT_IMAGES WHERE COUPUNG_NUMBER = #{coupungNumber} AND TYPE = 2
    </select>
    
    <insert id="insertCoupungImage" parameterType="productImages">
    	INSERT INTO PRODUCT_IMAGES(COUPUNG_NUMBER, URL, TYPE) VALUES (#{coupungNumber}, #{url}, #{type})
    </insert>
    
    <delete id="deleteCoupungImage" parameterType="int">
		DELETE FROM PRODUCT_IMAGES WHERE PRODUCT_IMAGE_NUMBER = #{productImageNumber}
	</delete>
</mapper>