<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.ounwan.productImage">
    <select id="selectByCoupungId" parameterType="int" resultType="productImages">
    	SELECT * FROM PRODUCT_IMAGES WHERE COUPUNG_NUMBER = #{coupungNumber}
    </select>
</mapper>