<html lang="en">
<head>
<meta charset="utf-8">

<title>Html Generated</title>
<meta name="description" content="Figma htmlGenerator">
<meta name="author" content="htmlGenerator">
<link href="https://fonts.googleapis.com/css?family=Inter&display=swap"
	rel="stylesheet">

<link rel="stylesheet" href="styles.css">

</head>

<body>
<div class = container>
		<div class=e1551_492>
			<div class="e1551_554"></div>
			<span class="e663_205">구매옵션 :
				bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</span><span class="e663_206">상품명aaaaaaaaaaaaaaaaaaaaaaaaaa</span>
			<div class="e663_207"></div>
			<div class=e663_208>
				<div class="e663_209"></div>
				<span class="e663_210">개수</span>
				<div class="e663_211"></div>
				<span class="e663_212">1</span>
			</div>
			<div class="e663_213"></div>
			<span class="e663_214">8,000원</span>
			<div class=e1543_262>
				<div class="e1543_263"></div>
			</div>
		</div>
		<div class=e1551_598>
			<div class="e1551_599"></div>
			<span class="e1551_600">구매옵션 :
				bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</span><span class="e1551_601">상품명aaaaaaaaaaaaaaaaaaaaaaaaaa</span>
			<div class="e1551_602"></div>
			<div class=e1551_603>
				<div class="e1551_604"></div>
				<span class="e1551_605">개수</span>
				<div class="e1551_606"></div>
				<span class="e1551_607">1</span>
			</div>
			<div class="e1551_608"></div>
			<span class="e1551_609">8,000원</span>
			<div class=e1551_610>
				<div class="e1551_611"></div>
			</div>
		</div>
		<div class=e1551_584>
			<div class="e1551_585"></div>
			<span class="e1551_586">구매옵션 :
				bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</span><span class="e1551_587">상품명aaaaaaaaaaaaaaaaaaaaaaaaaa</span>
			<div class="e1551_588"></div>
			<div class=e1551_589>
				<div class="e1551_590"></div>
				<span class="e1551_591">개수</span>
				<div class="e1551_592"></div>
				<span class="e1551_593">1</span>
			</div>
			<div class="e1551_594"></div>
			<span class="e1551_595">8,000원</span>
			<div class=e1551_596>
				<div class="e1551_597"></div>
			</div>
		</div>
		<div class=e1551_570>
			<div class="e1551_571"></div>
			<span class="e1551_572">구매옵션 :
				bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</span><span class="e1551_573">상품명aaaaaaaaaaaaaaaaaaaaaaaaaa</span>
			<div class="e1551_574"></div>
			<div class=e1551_575>
				<div class="e1551_576"></div>
				<span class="e1551_577">개수</span>
				<div class="e1551_578"></div>
				<span class="e1551_579">1</span>
			</div>
			<div class="e1551_580"></div>
			<span class="e1551_581">8,000원</span>
			<div class=e1551_582>
				<div class="e1551_583"></div>
			</div>
		</div>
		<div class=e1551_556>
			<div class="e1551_557"></div>
			<span class="e1551_558">구매옵션 :
				bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb</span><span class="e1551_559">상품명aaaaaaaaaaaaaaaaaaaaaaaaaa</span>
			<div class="e1551_560"></div>
			<div class=e1551_561>
				<div class="e1551_562"></div>
				<span class="e1551_563">개수</span>
				<div class="e1551_564"></div>
				<span class="e1551_565">1</span>
			</div>
			<div class="e1551_566"></div>
			<span class="e1551_567">8,000원</span>
			<div class=e1551_568>
				<div class="e1551_569"></div>
			</div>
		</div>
  </div>
		<div class=e1551_552>
			<div class=e1551_551>
				<div class="e1551_549"></div>
				<span class="e1543_458">결제 금액</span><span class="e1543_459">14,500원</span>
				<div class=e1543_453>
					<div class=e1543_454>
						<div class="e1543_455"></div>
						<span class="e1543_456">주문하기</span>
					</div>
				</div>
			</div>
		</div>

</body>
</html>