<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Html Generated</title>
  <meta name="description" content="Figma htmlGenerator">
  <meta name="author" content="htmlGenerator">
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="styles1.css">

</head>

<body>
  <div class=e672_97>
    <div class=e1084_280>
      <div class="e1084_281"></div>
      <div class="e1084_282"></div>
      <div class="e1084_283"></div>
    </div>
    <div class=e672_98>
      <div class=e672_99><span class="e672_100">Basket (5)</span></div><span class="e672_101">Sing Up</span><span
        class="e672_102">Sign In</span>
      <div class="e1096_299"></div>
    </div>
    <div class=e672_104>
      <div class=e672_105><span class="e672_106">Shop</span><span class="e672_107">Community</span><span
          class="e672_108">Who we are</span></div>
      <div class=e672_109>
        <div class="e672_110"></div>
        <div class="e672_111"></div>
      </div>
      <div class=e672_112>
        <div class="e672_113"></div>
        <div class=e672_114>
          <div class="e672_115"></div>
          <div class="e672_116"></div>
        </div>
      </div>
    </div>
    <div class=e672_160>
      <div class="e672_161"></div><span class="e672_162">1 / 7</span>
    </div>
    
    <div class="e672_170"></div>
    <div class="e672_172"></div>
    <div class=e672_183>
      <div class=e1084_261>
        <div class="e672_177"></div>
        <div class="e672_178"></div>
        <div class="e672_179"></div>
        <div class="e672_180"></div>
        <div class="e672_181"></div>
      </div>
      <div class=e672_184>
        <div class="e672_185"></div>
        <div class="e672_186"></div>
      </div><span class="e672_187">전체 보기</span><span class="e672_188">운동 기구</span><span class="e672_191">의류</span><span
        class="e672_190">헬스 이용권</span><span class="e672_189">건강 보조 식품</span>
      <div class=e1084_263>
        <div class=e1084_262>
          <div class=e1084_284>
            <div class="e854_287"></div>
            <div class=e854_282>
              <div class="e854_283"></div>
              <div class="e854_284"></div>
              <div class="e854_285"></div>
              <div class="e854_286"></div>
            </div>
            <div class=e1031_257>
              <div class="e1031_258"></div>
              <div class="e1031_259"></div>
            </div>
            <div class=e854_288>
              <div class="e854_289"></div>
              <div class="e854_290"></div>
              <div class="e854_291"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=e685_87>
      <div class="e685_29">
        <img src="rectangle_11.png" alt="product1">
      </div>
      <div class="e685_30"></div>
      <div class="e685_31"></div>
      <div class="e685_32"></div>
      <div class="e685_33"></div>
      <div class="e685_34"></div>
      <div class="e685_35"></div>
      <div class="e685_36"></div>
    </div>
    <div class=e741_369><span class="ei741_369_31_467">Button</span>
      <div class=ei741_369_31_468>
        <div class="ei741_369_31_468_25_12715"></div>
        <div class="ei741_369_31_468_25_12716"></div>
      </div>
    </div>
  </div>
</body>

</html>