.672_97 { 
	overflow:hidden;
}.e672_97 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1440px;
	position:absolute;
}.e1084_280 { 
	width:1440px;
	height:338px;
	position:absolute;
	left:0px;
	top:196px;
}.e1084_281 { 
	width:673.9010620117188px;
	height:338px;
	position:absolute;
	left:383.2335510253906px;
	top:0px;
	background-image:url(images/image_19.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1084_282 { 
	background-color:rgba(1.0000000591389835, 42.000001296401024, 254.00000005960464, 1);
	width:383.2335510253906px;
	height:338px;
	position:absolute;
	left:1056.7666015625px;
	top:0px;
}.e1084_283 { 
	background-color:rgba(1.0000000591389835, 42.000001296401024, 254.00000005960464, 1);
	width:383.2335510253906px;
	height:338px;
	position:absolute;
	left:0px;
	top:0px;
}.e672_98 { 
	width:1440px;
	height:102px;
	position:absolute;
	left:0px;
	top:3px;
}.e672_99 { 
	background-color:rgba(45.576832965016365, 60.38241170346737, 138.1117057800293, 1);
	width:126px;
	height:48px;
	position:absolute;
	left:1218px;
	top:32px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
}.e672_100 { 
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:21px;
	position:absolute;
	left:23px;
	top:13.5px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e672_101 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:21px;
	position:absolute;
	left:1122px;
	top:45.5px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e672_102 { 
	color:rgba(0, 0, 0, 1);
	width:52px;
	height:21px;
	position:absolute;
	left:1023px;
	top:45.5px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e1096_299 { 
	width:180px;
	height:79.20000457763672px;
	position:absolute;
	left:6px;
	top:21px;
	background-image:url(images/__2_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e672_104 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:105px;
}.e672_105 { 
	width:492px;
	height:78px;
	position:absolute;
	left:205px;
	top:-9px;
}.e672_106 { 
	color:rgba(0, 0, 0, 1);
	width:39px;
	height:21px;
	position:absolute;
	left:39px;
	top:26.5px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e672_107 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:21px;
	position:absolute;
	left:121px;
	top:26.5px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e672_108 { 
	color:rgba(0, 0, 0, 1);
	width:90px;
	height:21px;
	position:absolute;
	left:251px;
	top:26.5px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}.e672_109 { 
	width:42px;
	height:37.40240478515625px;
	position:absolute;
	left:163px;
	top:11px;
}.e672_110 { 
	width:42px;
	height:37.40240478515625px;
	position:absolute;
	left:0px;
	top:0px;
}.e672_111 { 
	background-color:rgba(45.576832965016365, 60.38241170346737, 138.1117057800293, 1);
	width:31.4999942779541px;
	height:18.701202392578125px;
	position:absolute;
	left:5.25px;
	top:9.3507080078125px;
}.e672_112 { 
	width:324px;
	height:30px;
	position:absolute;
	left:1018px;
	top:15px;
}.e672_113 { 
	background-color:rgba(255, 255, 255, 1);
	width:324px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}.672_113 { 
	border:1px solid rgba(45.576832965016365, 60.38241170346737, 138.1117057800293, 1);
}.e672_114 { 
	width:20px;
	height:20px;
	position:absolute;
	left:290px;
	top:5px;
}.e672_115 { 
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}.e672_116 { 
	background-color:rgba(45.576832965016365, 60.38241170346737, 138.1117057800293, 1);
	width:14.206771850585938px;
	height:14.215106010437012px;
	position:absolute;
	left:2.49951171875px;
	top:2.49951171875px;
}.e672_160 { 
	width:115px;
	height:41px;
	position:absolute;
	left:1122px;
	top:479px;
}.e672_161 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	background-color:rgba(45.576832965016365, 60.38241170346737, 138.1117057800293, 1);
	width:115px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}.e672_162 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	color:rgba(255, 255, 255, 1);
	width:35.45833206176758px;
	height:23.173913955688477px;
	position:absolute;
	left:39.29177474975586px;
	top:8.913091659545898px;
	font-family:Inter;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
}.e672_174 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1481.88134765625px;
	height:355.15411376953125px;
	position:absolute;
	left:-275.8813781738281px;
	top:324px;
}.e672_170 { 
	transform: rotate(90.00000000000003deg);
	background-color:rgba(127.5, 115.28124645352364, 115.28124645352364, 1);
	width:32.042938232421875px;
	height:27.75px;
	position:absolute;
	left:1193.75px;
	top:335px;
}.e672_172 { 
	transform: rotate(-90.00000000000001deg);
	background-color:rgba(127.5, 115.28124645352364, 115.28124645352364, 1);
	width:32.042938232421875px;
	height:27.75px;
	position:absolute;
	left:244px;
	top:367.04296875px;
}.e672_183 { 
	width:692px;
	height:174px;
	position:absolute;
	left:374px;
	top:567px;
}.e1084_261 { 
	width:628px;
	height:100px;
	position:absolute;
	left:32px;
	top:17px;
}.e672_177 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e672_178 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:132px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e672_179 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:264px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e672_180 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:396px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e672_181 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:100px;
	height:100px;
	position:absolute;
	left:528px;
	top:0px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e672_184 { 
	width:49.89598083496094px;
	height:68.875px;
	position:absolute;
	left:52.31561279296875px;
	top:31px;
}.e672_185 { 
	width:49.89598083496094px;
	height:68.875px;
	position:absolute;
	left:0px;
	top:0px;
}.e672_186 { 
	background-color:rgba(45.576832965016365, 60.38241170346737, 138.1117057800293, 1);
	width:40px;
	height:40px;
	position:absolute;
	left:6.684412002563477px;
	top:17px;
}.e672_187 { 
	color:rgba(45.576832965016365, 60.38241170346737, 138.1117057800293, 1);
	width:80px;
	height:26px;
	position:absolute;
	left:42px;
	top:131px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e672_188 { 
	color:rgba(45.576832965016365, 60.38241170346737, 138.1117057800293, 1);
	width:80px;
	height:26px;
	position:absolute;
	left:179px;
	top:131px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e672_191 { 
	color:rgba(45.576832965016365, 60.38241170346737, 138.1117057800293, 1);
	width:37px;
	height:26px;
	position:absolute;
	left:600px;
	top:131px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e672_190 { 
	color:rgba(45.576832965016365, 60.38241170346737, 138.1117057800293, 1);
	width:98px;
	height:26px;
	position:absolute;
	left:436px;
	top:131px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e672_189 { 
	color:rgba(45.576832965016365, 60.38241170346737, 138.1117057800293, 1);
	width:122px;
	height:26px;
	position:absolute;
	left:291px;
	top:131px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}.e1084_263 { 
	width:458px;
	height:65px;
	position:absolute;
	left:185px;
	top:35px;
}.e1084_262 { 
	width:458px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
}.e1084_284 { 
	width:458px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
}.e854_287 { 
	background-color:rgba(0, 0, 0, 1);
	width:65px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
}.e854_282 { 
	background-color:rgba(255, 255, 255, 0);
	width:65px;
	height:65px;
	position:absolute;
	left:131px;
	top:0px;
}.e854_283 { 
	background-color:rgba(251.00000023841858, 206.0000029206276, 177.0000046491623, 1);
	width:49.593082427978516px;
	height:52.81222152709961px;
	position:absolute;
	left:7.703059196472168px;
	top:6.094030857086182px;
}.854_283 { 
	border:3px solid rgba(0, 0, 0, 1);
}.854_284 { 
	border:3px solid rgba(0, 0, 0, 1);
}.e854_284 { 
	width:36.65323257446289px;
	height:39.395416259765625px;
	position:absolute;
	left:11.179999351501465px;
	top:8.731666564941406px;
}.854_285 { 
	border:3px solid rgba(0, 0, 0, 1);
}.e854_285 { 
	width:2.902298927307129px;
	height:8.019316673278809px;
	position:absolute;
	left:19.775928497314453px;
	top:8.234686851501465px;
}.854_286 { 
	border:3px solid rgba(0, 0, 0, 1);
}.e854_286 { 
	width:10.139074325561523px;
	height:7.148038864135742px;
	position:absolute;
	left:19.13979148864746px;
	top:13.094791412353516px;
}.e1031_257 { 
	width:65px;
	height:65px;
	position:absolute;
	left:262px;
	top:0px;
}.e1031_258 { 
	background-color:rgba(64.00000378489494, 192.00000375509262, 231.00000143051147, 1);
	width:64.82512664794922px;
	height:52.34423828125px;
	position:absolute;
	left:0.0874565988779068px;
	top:9.014145851135254px;
}.e1031_259 { 
	background-color:rgba(47.0000009983778, 47.0000009983778, 47.0000009983778, 1);
	width:27.22313690185547px;
	height:24.687726974487305px;
	position:absolute;
	left:8.958148956298828px;
	top:18.748788833618164px;
}.e854_288 { 
	width:65px;
	height:65px;
	position:absolute;
	left:393px;
	top:0px;
}.e854_289 { 
	background-color:rgba(255, 0, 0, 1);
	width:65px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
}.854_289 { 
	border:4px solid rgba(0, 0, 0, 1);
}.e854_290 { 
	background-color:rgba(255, 0, 0, 1);
	width:10.833334922790527px;
	height:19.5px;
	position:absolute;
	left:37.91646194458008px;
	top:32.5px;
}.854_290 { 
	border:4px solid rgba(0, 0, 0, 1);
}.e854_291 { 
	background-color:rgba(255, 0, 0, 1);
	width:10.833334922790527px;
	height:19.5px;
	position:absolute;
	left:16.2501163482666px;
	top:32.5px;
}.854_291 { 
	border:4px solid rgba(0, 0, 0, 1);
}.e685_87 { 
	width:1260px;
	height:603px;
	position:absolute;
	left:91px;
	top:788px;
}.e685_29 { 
	width:227px;
	height:231px;
	position:absolute;
	left:77px;
	top:50px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/rectangle_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e685_30 { 
	width:227px;
	height:231px;
	position:absolute;
	left:382px;
	top:50px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/rectangle_12.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e685_31 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:227px;
	height:231px;
	position:absolute;
	left:683px;
	top:50px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e685_32 { 
	width:227px;
	height:231px;
	position:absolute;
	left:984px;
	top:50px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/rectangle_14.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e685_33 { 
	width:227px;
	height:231px;
	position:absolute;
	left:77px;
	top:332px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/rectangle_15.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e685_34 { 
	width:227px;
	height:231px;
	position:absolute;
	left:382px;
	top:332px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/rectangle_16.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e685_35 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:227px;
	height:231px;
	position:absolute;
	left:683px;
	top:332px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
}.e685_36 { 
	width:227px;
	height:231px;
	position:absolute;
	left:984px;
	top:332px;
	border-top-left-radius:30px;
	border-top-right-radius:30px;
	border-bottom-left-radius:30px;
	border-bottom-right-radius:30px;
	background-image:url(images/rectangle_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e741_369 { 
	width:20px;
	height:20px;
	position:absolute;
	left:1170px;
	top:382px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}.ei741_369_31_467 { 
	color:rgba(255, 255, 255, 1);
	width:45px;
	height:20px;
	position:absolute;
	left:-24.5px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}.ei741_369_31_468 { 
	width:20px;
	height:20px;
	position:absolute;
	left:24.5px;
	top:0px;
}.ei741_369_31_468_25_12715 { 
	background-color:rgba(26.56249936670065, 18.704427927732468, 18.704427927732468, 1);
	width:16.25px;
	height:16.25px;
	position:absolute;
	left:1.875px;
	top:1.875px;
}.ei741_369_31_468_25_12716 { 
	background-color:rgba(26.56249936670065, 18.704427927732468, 18.704427927732468, 1);
	width:4.375005722045898px;
	height:6.875010967254639px;
	position:absolute;
	left:8.437494277954102px;
	top:6.56249475479126px;
}