@charset "UTF-8";

.banner {
    width: 1250px;
    height: 350px;
    background-image: url("../images/v616_37.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.banner:hover a {
    width: 35px;
    height: 35px;
}
.banner-pointer-right, .banner-pointer-left {
    position: relative;
    display: inline-block;
    width: 0;
    height:0;
    top: 150px;
    background-size: cover;
    background-repeat: no-repeat;
}
.banner-pointer-right {
    float: right;
    right: 80px;
    background-image: url("./right_1.png");
}
.banner-pointer-left {
    left: 70px;
    background-image: url("./left_1.png");
}
.banner-page {
    position: absolute;
    display: inline-block;
    width: 80px;
    height: 20px;
    right: calc(50% - 550px);
    top: 480px;
    background-color: rgba(0,0,0,0.3);
    padding: 10px 20px 10px 20px;
    border-radius: 25px;
    text-align: center;
    line-height: 15px;
}
.banner-page span {
    font-size: 20px;
    font-weight: 1000;
}
.category {
    width: 850px;
    margin: 20px auto 10px auto;
}
.category > a {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 0px 30px 10px 30px;
    border: 1px solid var(--main-color-1);
    border-radius: 20px;
}
.category > a:hover {
    background-color: #282828;
}
.category a div {
    width: 60px;
    height: 60px;
    margin: 10px auto 0px auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.whole {
    background-image: url("./hamberger.png");
}
.clothing {
    background-image: url("./clothing.png");
}
.vitamin {
    background-image: url("./vitamin.png");
}
.ticket {
    background-image: url("./ticket.png");
}
.machine {
    background-image: url("./machine.png");
}
.search {
    padding-bottom: 20px;
    text-align: center;
}
.search span {
    position: relative;
    display: block;
    width: 750px;
    height: 0px;
    margin: auto;
    bottom: 1.2px;
    border: 1px solid var(--main-color-2);
    border-radius: 1px;
    transform: scaleX(0);
    transition: 0.2s all linear;
}
.search button {
    position: relative;
    width: 30px;
    height: 30px;
    top: 14px;
    background-image: url("./search_0.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.searchProduct {
    display: inline-block;
    width: 700px;
    height: 30px;
    text-align: center;
    font-size: 20px;
    padding: 10px 0px 10px 0px;
    background-color: #333333;
}
.searchProduct:focus {
    border-bottom: 1px solid var(--main-color-1);
}
.searchProduct:focus ~span {
    transform: scaleX(1);
}
.productList {
    width: 1249px;
    min-width: 1249px;
    margin: auto;
}
.product {
    display: inline-block;
    margin: 21px;
}
.product > a {
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid var(--main-back);
}
.product > a:hover {
    border: 1px solid var(--main-color-2);
}
.product a img {
    width: 180px;
    height: 180px;
    border-radius: 20px;
}
.product a div {
    margin-top: 5px;
}
.product-detail {
    margin-top: 50px;
}
.product-img-1 {
    display: inline-block;
    vertical-align: top;
    width: 600px;
    height: 600px;
}
.product-img-1 img {
    width: 600px;
    border-radius: 50px;
}
.product-img-2 {
    display: inline-block;
    width: 120px;
    padding: 20px;
}
.product-img-2 img {
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 20px;
    transform: scale(1);
    transition: 0.2s all linear;
}
.product-img-2 img:hover {
    transform: scale(1.2);
}
.product-box {
    display: inline-block;
    vertical-align: top;
    padding: 0px 25px 0px 25px;
    width: 400px;
}
.product-score img {
    width: 30px;
    height: 30px;
}
.product-point img {
    width: 20px;
    height: 20px;
}
.product-title {
    border-bottom: 1px solid var(--main-color-1);
}
.product-title > div > span {
    display: inline-block;
    font-size: 36px;
    max-width: 350px;
    white-space: normal;
}
.product-share {
    text-align: right;
}
.product-share > a {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url("./share_0.png");
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    bottom: 30px;
}
.product-share > a:hover {
    background-image: url("./share_1.png");
}
.product-score {
    display: inline-block;
    padding: 10px 0px 5px 0px;
}
.delivery {
    height: 100px;
}
.delivery > span {
    font-size: 14px;
    font-weight: bold;
}
.product-info {
    padding-bottom: 5px;
    border-bottom: 1px solid var(--main-color-1);
}
.product-unit-price {
    margin: 5px 0px 5px 0px;
    font-size: 36px;
    font-weight: 1000;
}
.product-select {
    margin: 20px 0px 0px 10px;
}
.product-select > div {
    display: inline-block;
}
.product-option > select {
    width: 200px;
    height: 40px;
    text-align: center;
    font-size: 16px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #444;
}
.product-option > select:focus {
    outline: none;
}
.product-option > select > option {
    background-color: var(--main-back);
}
.product-quantity {
    margin-left: 50px;
    height: 40px;
}
.product-quantity > input {
    background-color: var(--main-back);
    text-align: center;
    font-size: 24px;
    width: 100px;
    height: 40px;
}
.product-quantity > input:focus {
    border-bottom: 1px solid var(--main-color-2);
}
.product-quantity > input::-webkit-outer-spin-button,
.product-quantity > input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.quantity-button {
    position: relative;
    display: inline-block;
    height: 40px;
    top: 15px;
}
.quantity-button > button {
    width: 15px;
    height: 15px;
    display: block;
    margin-bottom: 3px;
    border: 1px solid var(--main-color-1);
    cursor: pointer;
}
.quantity-button > button > span {
    position: relative;
    font-size: 20px;
    bottom: 5px;
    color: var(--main-color-1);
}
.quantity-button > button:hover {
    border: 1px solid var(--main-color-2);
}
.quantity-button > button:hover span {
    color: var(--main-color-2);
}
.product-total {
    width: 90%;
    padding: 10px 5% 0% 5%;
    font-size: 18px;
    text-align: right;
}
.product-order {
    padding: 10px;
    text-align: center;
}
.product-order button {
    width: 150px;
    height: 60px;
    margin: 10px;
    font-size: 22px;
    border: 3px solid var(--main-color-1);
    border-radius: 10px;
    cursor: pointer;
}
.product-order button:hover {
    background-color: #282828;
}
.product-view-option {
    margin-top: 40px;
    padding-top: 10px;
}
.product-view-option a {
    display: inline-block;
    margin: 5px;
    margin-bottom: 0;
    padding: 15px;
    font-size: 24px;
    font-weight: 1000;
    border: 2px solid var(--main-color-1);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.product-view-option a:hover {
    background-color: #282828;
}
.selected {
    border: 2px solid var(--main-color-2) !important;
    color: var(--main-color-2);
}
.product-additional-view {
    border-top: 1px solid var(--main-color-1);
}
.product-explain img {
    width: 100%;
}