@charset "UTF-8";

@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-back: #333;
    --main-color-1: #EEE7D8;
    --main-color-2: #CBF83E;
    --red: #ff2400;
}
* {
    margin: 0;
    padding: 0;
    color: var(--main-color-1);
    font-family: 'Tenada';
}
html, body {
    background-color: var(--main-back);
    height: 100%;
}
button {
    border: 0;
    background: none;
}
a {
    text-decoration: none;
}
input {
    border: 0;
    border-bottom: 1px solid var(--main-color-1);
}
input:focus {
    outline: none;
    border: 0;
}
.container {
    width: 1250px;
    margin: auto;
}
.sort {
	margin-bottom: 20px;
}