@charset "UTF-8";


.event-banner {
    height: 300px;
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.coupung-nav {
    height: 100px;
    width: 100%;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.coupung-nav-bar {
    width: 527px;
    margin: auto;
}

.coupung-category {
    height: 90px;
    width: 90px;
    border: 1px solid black;
    display: inline-block;
    margin: 4px;
}

.ordering {
    margin: 5px;
}

.product-area {
    height: 1000px;
    width: 100%;
    border: 1px solid black;
}

.product-area-zone {
    width: 1177px;
    margin: auto;
}

.item {
    display: inline-block;
}

.item-image {
    height: 220px;
    width:220px;
    margin: 5px;
    border: 1px solid black;
}

.product-image {
	height: 210px;
	width: 210px;
	margin: 5px;
}

.input-box {
	display: inline-block;
}

.find-button {
	display: inline-block;
}

.typing-area {
	display: inline-block;
	position: relative;
	float: right;
}

.select-option {
	display: inline-block;
}